<div class="t-Body-contentInner">
    <div class="container">
<div class="row">
<div class="col col-12 apex-col-auto">
<div class="t-ButtonRegion t-Form--floatLeft containers t-ButtonRegion--noPadding t-ButtonRegion--noUI apex-tabs-region js-apex-region" id="R28512406002220865">
<div class="t-ButtonRegion-wrap">
<div class="t-ButtonRegion-col t-ButtonRegion-col--left"><div class="t-ButtonRegion-buttons"></div></div>
<div class="t-ButtonRegion-col t-ButtonRegion-col--content">
<h2 class="t-ButtonRegion-title" id="R28512406002220865_heading">Region Display Selector</h2>
<div class="apex-rds-container"><div class="apex-rds-slider"><div class="apex-rds-hover left" style="display: none;"><a> <span class="a-Icon icon-left-chevron"></span> </a></div><div class="apex-rds-hover right" style="display: none;"><a> <span class="a-Icon icon-right-chevron"></span> </a></div></div><ul id="28512406002220865_RDS" class="apex-rds a-Tabs" role="tablist" style="white-space: nowrap; overflow-x: hidden;"><li class="apex-rds-item apex-rds-first apex-rds-selected" role="presentation" id="R28333887549179555_tab"><a href="#R28333887549179555" role="tab" aria-controls="R28333887549179555" aria-selected="true"><span>Account</span></a></li><li class="apex-rds-item apex-rds-after" role="presentation" id="R28337577127179591_tab"><a href="#R28337577127179591" role="tab" aria-controls="R28337577127179591" aria-selected="false" tabindex="-1"><span>Order History</span></a></li><li class="apex-rds-item apex-rds-last apex-rds-after" role="presentation" id="USERWISHLIST_tab"><a href="#USERWISHLIST" role="tab" aria-controls="USERWISHLIST" aria-selected="false" tabindex="-1"><span>Wishlist</span></a></li></ul></div>
<div class="t-ButtonRegion-buttons"></div>
</div>
<div class="t-ButtonRegion-col t-ButtonRegion-col--right"><div class="t-ButtonRegion-buttons"><button onclick="apex.submit({request:'Logout'});" class="t-Button t-Button--hot t-Button--gapTop" type="button" id="B28512592134220867"><span class="t-Button-label">Logout</span></button></div></div>
</div>
</div>
</div>
</div><div class="row">
<div class="col col-12 apex-col-auto">
<div class="t-ContentBlock containers t-ContentBlock--padded t-ContentBlock--h3 t-ContentBlock--shadowBG margin-top-lg a-Tabs-panel apex-rds-element-selected" id="R28333887549179555" role="tabpanel" aria-labelledby="R28333887549179555_tab" aria-hidden="false">
<div class="t-ContentBlock-header"><h1 class="t-ContentBlock-title">Account</h1></div>
<div class="t-ContentBlock-body"><div class="container">
<div class="row">
<div class="col col-5 ">
<div class="t-Region t-Region--noUI t-Region--hiddenOverflow" id="R28334177511179557" style="border-right: 1px solid #e1e1e1; ">
<div class="t-Region-header">
<div class="t-Region-headerItems t-Region-headerItems--title">
<span class="t-Region-headerIcon"><span class="t-Icon " aria-hidden="true"></span></span>
<h2 class="t-Region-title" id="R28334177511179557_heading">Profile</h2>
</div>
<div class="t-Region-headerItems t-Region-headerItems--buttons"><span class="js-maximizeButtonContainer"></span></div>
</div>
<div class="t-Region-bodyWrap">
<div class="t-Region-buttons t-Region-buttons--top">
<div class="t-Region-buttons-left"></div>
<div class="t-Region-buttons-right"></div>
</div>
<div class="t-Region-body">

<ul style="display: -webkit-box;">
  <li style="margin-right: 20px;">
      <div class="profile-email">
          <p style="font-size: 11px;line-height: 17px; letter-spacing: .04em; text-transform: inherit;font-weight: normal; padding-bottom: 0;">Email:</p>
          <p style="font-size: 11px;line-height: 17px;letter-spacing: .04em;text-transform: inherit;font-weight: normal;padding-bottom: 20px;">anil.p@test.com
              <br>
              <!--<a href="javascript:void();" id="email_edit">Edit <i class="fas fa-chevron-right"></i></a>-->
              <a>
              </a>
          </p>
          <a>
          </a>
      </div>
  </li>
  <li>
      <div class="profile-password">
          <p style="font-size: 11px;line-height: 17px; letter-spacing: .04em; text-transform: inherit;font-weight: normal; padding-bottom: 0;">Password:</p>
          <p style="font-size: 11px;line-height: 17px;letter-spacing: .04em;text-transform: inherit;font-weight: normal;padding-bottom: 20px;">********<br>
              <a href="javascript:void();" id="password_edit">Change Password <i class="fas fa-chevron-right"></i></a>

          </p>
      </div>
  </li>
</ul>

<div class="profile-password">
          <p style="font-size: 11px;line-height: 17px; letter-spacing: .04em; text-transform: inherit;font-weight: normal; padding-bottom: 0;">Phone Number :</p>
          <p style="font-size: 11px;line-height: 17px;letter-spacing: .04em;text-transform: inherit;font-weight: normal;padding-bottom: 20px;">+919876543211<br>


          </p>
      </div>



</div>
<div class="t-Region-buttons t-Region-buttons--bottom">
<div class="t-Region-buttons-left"></div>
<div class="t-Region-buttons-right"></div>
</div>
</div>
</div>

</div><div class="col col-7 apex-col-auto">
<div class="t-Region t-Region--noUI t-Region--hiddenOverflow" id="caddress" aria-live="polite">
<div class="t-Region-header">
<div class="t-Region-headerItems t-Region-headerItems--title">
<span class="t-Region-headerIcon"><span class="t-Icon " aria-hidden="true"></span></span>
<h2 class="t-Region-title" id="caddress_heading">Address Book</h2>
</div>
<div class="t-Region-headerItems t-Region-headerItems--buttons"><span class="js-maximizeButtonContainer"></span></div>
</div>
<div class="t-Region-bodyWrap">
<div class="t-Region-buttons t-Region-buttons--top">
<div class="t-Region-buttons-left"></div>
<div class="t-Region-buttons-right"></div>
</div>
<div class="t-Region-body">
<div id="report_28336163854179577_catch"><span class="nodatafound">You currently have no shipping addresses setup. To add a shipping address, please <a href="javascript:void();" id="add_addr">click here</a></span>
</div>

</div>
<div class="t-Region-buttons t-Region-buttons--bottom">
<div class="t-Region-buttons-left"></div>
<div class="t-Region-buttons-right"></div>
</div>
</div>
</div>

</div>
</div>
</div></div>
<div class="t-ContentBlock-buttons"></div>
</div>
</div>
</div><div class="row">
<div class="col col-12 apex-col-auto">
<div class="t-ContentBlock containers t-ContentBlock--h3 margin-top-lg a-Tabs-panel apex-rds-after" id="R28337577127179591" role="tabpanel" aria-labelledby="R28337577127179591_tab" aria-live="polite" aria-hidden="true" style="display: none;">
<div class="t-ContentBlock-header"><h1 class="t-ContentBlock-title">Order History</h1></div>
<div class="t-ContentBlock-body"><div id="report_28337577127179591_catch"><span class="nodatafound"></span>
</div></div>
<div class="t-ContentBlock-buttons"></div>
</div>
</div>
</div><div class="row">
<div class="col col-12 apex-col-auto">
<div class="t-ContentBlock containers t-ContentBlock--h3 margin-top-lg a-Tabs-panel apex-rds-after" id="USERWISHLIST" role="tabpanel" aria-labelledby="USERWISHLIST_tab" aria-live="polite" aria-hidden="true" style="display: none;">
<div class="t-ContentBlock-header"><h1 class="t-ContentBlock-title">Wishlist</h1></div>
<div class="t-ContentBlock-body"><div id="report_28511608561220857_catch"><span class="nodatafound"></span>
</div></div>
<div class="t-ContentBlock-buttons"></div>
</div>
</div>
</div>
</div>
  </div>