<div class="row">
        <div class="col col-2 ">
        <span class="apex-grid-nbsp">&nbsp;</span>
        </div><div class="col col-8 ">
        <button onclick="void(0);" class="t-Button t-Button--stretch" type="button" id="B28612834462643392"><span class="t-Button-label">Cancel</span></button><input type="hidden" id="P7_ADDR_ID" name="P7_ADDR_ID" value=""><input type="hidden" id="P7_CUS_COUNTRY_1" name="P7_CUS_COUNTRY_1" value=""><input type="hidden" id="P7_CUS_CITY_1" name="P7_CUS_CITY_1" value="">
        </div>
        </div>