.AmirahClub .form-hide{
    display:none;    
}
.NumberDropdown{
   overflow: visible; 
}

html[dir="rtl"] .AmirahClub .intl-tel-input .selected-flag {
    z-index: 1;
    position: relative;
    width: 36px;
    height: 100%;
    padding: 0 8px 0 0
}



html[dir="rtl"] .AmirahClub .intl-tel-input .selected-flag .iti-arrow {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 6px !important;
    right:unset;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555
}

html[dir="rtl"] .AmirahClub .intl-tel-input.allow-dropdown .flag-container {
    right: 0;
    left: auto;
}

html[dir="rtl"] .AmirahClub .intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
    display: table-cell;
    vertical-align: middle;
    padding-right: 28px
}

html[dir="rtl"] .AmirahClub .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input,
.AmirahClub .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type=text],
.AmirahClub .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type=tel] {
    padding-right: 92px
}


html[dir="rtl"] .AmirahClub .intl-tel-input.iti-container {
    position: absolute;
   
    z-index: 1060;
    padding: 1px;
    width: auto;
    right:0;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

 
html[dir="rtl"] .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type=tel]
{
  padding-left: 28px;
}
.AmirahClub .intl-tel-input .country-list ,
html[dir="rtl"] .AmirahClub .intl-tel-input .country-list {
position: absolute;
    z-index: 999;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
    width: 100%;
    overflow-x: hidden;
}
 @media (min-width: 600px),(max-width: 800px) {
html[dir="rtl"] .AmirahClub .amirah-logo {
width: 23%;
    float: left;
}
}
html[dir="rtl"] .AmirahClub .amirah-logo {
    background: url(https://storage.googleapis.com/nay/icons/amirah-logo_sprite.png) -80px 0px no-repeat !important;
     background-position: 0% -23px;
    display: inline-block;
    width: 80px;
    height: 89px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: 0% 0%;
}
@media (min-width: 600px),(max-width: 800px) {
html[dir="rtl"] .AmirahClub .amirah-logom{
 background-image: url(https://storage.googleapis.com/nay/icons/amirah-logo_sprite.png);
    width: 40% !important;
    float: right;
    display: inline-block;
    width: 80px;
    height: 89px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: 136% 80%;
    background-size: 156%;
}

}

 @media (min-width: 600px),(max-width: 800px) {
.AmirahClub .amirah-logom{
    background-image: url(https://storage.googleapis.com/nay/icons/amirah-logo_sprite.png);
    width: 30% !important;
    float: left;
    display: inline-block;
    width: 80px;
    height: 89px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: 0% 0%;
    background-size: 190%;
 }
.AmirahClub .adiv{
      width: 77%;
}
.AmirahClub ul.amirah-list li {
    line-height:13px;
}
.AmirahClub .pdiv {
   line-height: 26px !important;
    letter-spacing: 0 !important;
}
}
.AmirahClub .amirah-logo{
    background-image: url(https://storage.googleapis.com/nay/icons/amirah-logo_sprite.png);
    background-position: 0% -23px;
    display: inline-block;
    width: 80px;
    height: 89px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: 0% 0%;
    background-size: auto;
}
.AmirahClub ul.amirah-list {
    margin: 0 25px;
    display: -webkit-box;
}
.AmirahClub ul.amirah-list li {
    font-size: 12px;
    margin: 0 5px;
    border-left: 1px solid #e1e1e1;
    padding-left: 10px;

}

.AmirahClub .lgStyle {
  width:129px;
  float:left;
}
.AmirahClub ul.amirah-list li.first { border-left: none; padding-left: 0; }

.AmirahClub .lgText span {
font-size:9px;
}


@media (max-width:1025px) {
    .AmirahClub .h-hidden-desktop,.AmirahClub .h-hidden-desktop,.AmirahClub .h-hidden-desktop {
            display: none!important;
        }
        .AmirahClub .col-4,.col-8 {
            width: 100% !important;
            float: none;
            clear: both;
        }
}
.AmirahClub .moreless-button{
    float: right;
    text-decoration: none;
    cursor: pointer;
}
.AmirahClub .fch{
font-style: unset;
font-variant: unset;
font-size: 1.3em;
line-height: unset;
letter-spacing: unset;
text-transform: unset;
font-weight: 100;
margin-bottom: 15px;
font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
}

.AmirahClub h1.h1p,
.AmirahClub h2.h2p,
.AmirahClub h3.h3p {
font-size: 1em !important;
    margin-bottom: 1em !important;
    line-height: 1.4em !important;
    font-weight :bold !important;
  }

.AmirahClub .more-text {
    display:none;
   }

.AmirahClub .b-footer_middle {
    padding: 28px 0 28px 0;
}
.AmirahClub .collapse-a {
    display: block!important;
}
.AmirahClub .b-main_carousel,
.AmirahClub .g-wrapper-main_content,
.AmirahClub .ui-dialog.m-cookie_privacy {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 0px;
}

.AmirahClub .b-footer_navigation::after {
    content: "";
    display: table;
    clear: both;
}

html[lang="en"] .AmirahClub .b-footer_navigation .b-accordion_wrapper {
    width: 20%;
    float: left;
    margin-left: 0px;
    text-align: left;
}

html[dir="rtl"] .AmirahClub .b-footer_navigation .b-accordion_wrapper {
    width: 20%;
    float: right;
    margin-right: 0px;
    text-align: right;
}

html[lang="en"] .AmirahClub .b-accordion_title {
    margin-bottom: 15px;
    color: #f693b9;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: normal;
          font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;
}
      
html[dir="rtl"] .AmirahClub .b-accordion_title {
    margin-bottom: 15px;
    color: #f693b9;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-transform: uppercase;
    font-weight: normal;
          font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;
}

ol,
ul {
    list-style: none;
}

.AmirahClub .b-accordion_container li {
    margin-bottom: 5px;
}

.AmirahClub .b-accordion_container a {
    color: #000;
    font-size: 12px;
}

.AmirahClub .b-footer_navigation .b-accordion_container a {
          letter-spacing: 0.05rem;
    
}

.AmirahClub .b-footer_navigation .navigation_wrapper_2 {
    width: 22%;
}

.AmirahClub .b-footer_navigation .navigation_wrapper_4 {
    width: 32%;
}

.AmirahClub .b-footer_navigation .b-accordion_container.m-websites {
    columns: auto 2;
}

.AmirahClub .b-footer_navigation-catalogue_wrap {
    margin-top: 23px;
    padding-top: 45px;
    border-top: 1px solid rgb(231, 231, 231);
}

.AmirahClub .b-footer_navigation .b-accordion_container.m-catalogue {
    position: relative;
    padding-left: 73px;
}

.AmirahClub .i-small_arrow::before {
    content: "";
}

.AmirahClub .b-footer_navigation .b-accordion_container.m-catalogue a {
    display: inline-block;
    position: relative;
    padding-right: 19px;
    color: #363534;
    font-size: 13px;
}

.AmirahClub a.Applogo {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) 0px -53px no-repeat;
    width: 150px;
    height: 48px;
}
.AmirahClub a.Appstore {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) -159px -104px no-repeat;
    width: 150px;
    height: 53px;
}
.AmirahClub a.Acregister {
    background: url(https://storage.googleapis.com/nay/icons/amirah-logo_sprite.png) 37px 0px no-repeat;
    width: 121px;
    height: 95px;
}
      
html[dir="rtl"] .AmirahClub a.Register {
    background: url(https://storage.googleapis.com/nay/icons/amirah-logo_sprite.png) -80px -3px no-repeat !important;
    width: 121px;
    height: 95px;
}

html[dir="rtl"] .AmirahClub a.applogo {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) 0px -53px no-repeat;
    width: 150px;
    height: 48px;
}
html[dir="rtl"] .AmirahClub a.appStore {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) -159px -104px no-repeat;
    width: 150px;
    height: 53px;
}      
      
@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-footer_middle {
        padding: 30px 0px 17px;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_middle {
        padding: 0;
    }
    .AmirahClub .t-Form-inputContainer.NumberDropdown,
    .AmirahClub .t-Form-inputContainer.NumberDropdown .intl-tel-input {
       width:100%;
    }
    .iti-mobile .intl-tel-input .country-list{
        max-height: 200px;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-main_carousel,
    .AmirahClub .g-wrapper-main_content,
    .AmirahClub .ui-dialog.m-cookie_privacy {
        min-width: 320px;
        max-width: 767px;
        padding: 0px 10px;
    }
}

@media print {
    .AmirahClub .b-main_carousel,
    .AmirahClub .g-wrapper-main_content,
    .AmirahClub .ui-dialog.m-cookie_privacy {
        padding: 0px !important;
    }
}

@media print {
    .AmirahClub .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
   .AmirahClub .b-accordion_wrapper {
        width: 100% !important;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
    html[dir=rtl] .AmirahClub .intl-tel-input.iti-container{
        position: absolute;
        left: 30px !important;
        top:85%;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-accordion_wrapper:first-child {
        border-top: none;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
   .AmirahClub .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
   .AmirahClub .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation .navigation_wrapper_2 {
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .AmirahClub .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .AmirahClub .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation .navigation_wrapper_4 {
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .AmirahClub .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
    html[dir=rtl] .AmirahClub .intl-tel-input.iti-container{
        position: absolute;
        top:88%;
        left: 30px !important;
    } 
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media only screen and (max-width: 1199px) {
    .AmirahClub .b-footer_navigation .b-accordion_container.m-websites {
        columns: auto 1;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) {
    .AmirahClub .b-footer_navigation-catalogue_wrap {
        margin-top: 20px;
        padding-top: 0px;
        border-top: none;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation-catalogue_wrap {
        max-width: none;
        margin: 0px -10px;
        padding: 22px 0px 5px;
        border-top: 1px solid rgb(231, 231, 231);
    }
}

@media print {
    .AmirahClub .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-footer_navigation .b-accordion_container.m-catalogue {
        padding-left: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation .b-accordion_container.m-catalogue {
        display: block;
        width: 210px;
        margin: 0px auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-footer_navigation .b-accordion_container.m-catalogue li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-footer_navigation .b-accordion_container.m-catalogue a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation .b-accordion_container.m-catalogue a {
        text-transform: lowercase;
    }
}

@media print {
    .AmirahClub .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
   .AmirahClub .b-footer_navigation .b-accordion_container.m-catalogue li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .AmirahClub .b-footer_navigation .b-accordion_container.m-catalogue a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .AmirahClub .b-footer_navigation .b-accordion_container.m-catalogue a {
        text-transform: lowercase;
    }
}

/*datepicker*/


.Calender .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.Calender .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, 
.Calender .react-datepicker__year-read-view--down-arrow,
.Calender .react-datepicker__month-read-view--down-arrow,
.Calender .react-datepicker__month-year-read-view--down-arrow {
  margin-left: -8px;
  position: absolute;
}

.Calender .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, 
.Calender .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.Calender .react-datepicker__month-read-view--down-arrow,
.Calender .react-datepicker__month-year-read-view--down-arrow, 
.Calender .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
.Calender .react-datepicker__month-read-view--down-arrow::before,
.Calender .react-datepicker__month-year-read-view--down-arrow::before {
  box-sizing: content-box;
  position: absolute;
  border: 8px solid transparent;
  height: 0;
  width: 1px;
}

.Calender .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before, 
.Calender .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, 
.Calender .react-datepicker__year-read-view--down-arrow::before,
.Calender .react-datepicker__month-read-view--down-arrow::before,
.Calender .react-datepicker__month-year-read-view--down-arrow::before {
  content: "";
  z-index: -1;
  border-width: 8px;
  left: -8px;
  border-bottom-color: #aeaeae;
}

.Calender .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  top: 0;
  margin-top: -8px;
}

.Calender .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle,
.Calender .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
  border-top: none;
  border-bottom-color: #f0f0f0;
}

.Calender .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: #aeaeae;
}

.Calender .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.Calender .react-datepicker__month-read-view--down-arrow,
.Calender .react-datepicker__month-year-read-view--down-arrow {
  bottom: 0;
  margin-bottom: -8px;
}

.Calender .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, 
.Calender .react-datepicker__year-read-view--down-arrow,
.Calender .react-datepicker__month-read-view--down-arrow,
.Calender .react-datepicker__month-year-read-view--down-arrow, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
.Calender .react-datepicker__month-read-view--down-arrow::before,
.Calender .react-datepicker__month-year-read-view--down-arrow::before {
  border-bottom: none;
  border-top-color: #fff;
}

.Calender .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before,
.Calender .react-datepicker__year-read-view--down-arrow::before,
.Calender .react-datepicker__month-read-view--down-arrow::before,
.Calender .react-datepicker__month-year-read-view--down-arrow::before {
  bottom: -1px;
  border-top-color: #aeaeae;
}

.Calender .react-datepicker-wrapper {
  display: inline-block;
  width: 100%;
}

.Calender .react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #c5c5c5;
  display: inline-block;
  position: relative;
  width: 260px;
  padding: 10px;
}

.Calender #P11_DOB_CONTAINER,
.Calender #P11_WA_CONTAINER{
  align-items: initial;
}

.Calender .react-datepicker--time-only .react-datepicker__triangle {
  left: 35px;
}

.Calender .react-datepicker--time-only .react-datepicker__time-container {
  border-left: 0;
}

.Calender .react-datepicker--time-only .react-datepicker__time {
  border-radius: 0.3rem;
}

.Calender .react-datepicker--time-only .react-datepicker__time-box {
  border-radius: 0.3rem;
}

.Calender .react-datepicker__triangle {
  position: absolute;
  left: 50px;
}

.Calender .react-datepicker-popper {
  z-index: 999;
}

.Calender .react-datepicker-popper[data-placement^="bottom"] {
  margin-top: 10px;
}

.Calender .react-datepicker-popper[data-placement^="top"] {
  margin-bottom: 10px;
}

.Calender .react-datepicker-popper[data-placement^="right"] {
  margin-left: 8px;
}

.Calender .react-datepicker-popper[data-placement^="right"] .react-datepicker__triangle {
  left: auto;
  right: 42px;
}

.Calender .react-datepicker-popper[data-placement^="left"] {
  margin-right: 8px;
}

.Calender .react-datepicker-popper[data-placement^="left"] .react-datepicker__triangle {
  left: 42px;
  right: auto;
}

.Calender .react-datepicker__header {
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding-top: 8px;
  position: relative;
}

.Calender .react-datepicker__header--time {
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

.Calender .react-datepicker__year-dropdown-container--select,
.Calender .react-datepicker__month-dropdown-container--select,
.Calender .react-datepicker__month-year-dropdown-container--select,
.Calender .react-datepicker__year-dropdown-container--scroll,
.Calender .react-datepicker__month-dropdown-container--scroll,
.Calender .react-datepicker__month-year-dropdown-container--scroll {
  display: inline-block;
  margin: 0 2px;
}

.Calender .react-datepicker__current-month,
.Calender .react-datepicker-time__header,
.Calender .react-datepicker-year-header {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.944rem;
}

.Calender .react-datepicker-time__header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Calender .react-datepicker__navigation {
  background: none;
  line-height: 1.7rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 24px;
  width: 0;
  padding: 0;
  border: 0.45rem solid transparent;
  z-index: 1;
  height: 10px;
  width: 10px;
  text-indent: -999em;
  overflow: hidden;
}

.Calender .react-datepicker__navigation--previous {
  left: 5px;
  border-right-color: #000;
}

.Calender .react-datepicker__navigation--previous:hover {
  border-right-color: #b3b3b3;
}

.Calender .react-datepicker__navigation--previous--disabled, 
.Calender .react-datepicker__navigation--previous--disabled:hover {
  border-right-color: #e6e6e6;
  cursor: default;
}

.Calender .react-datepicker__navigation--next {
  right: 5px;
  border-left-color: #000;
}

.Calender .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 80px;
}

.Calender .react-datepicker__navigation--next:hover {
  border-left-color: #b3b3b3;
}

.Calender .react-datepicker__navigation--next--disabled, .react-datepicker__navigation--next--disabled:hover {
  border-left-color: #e6e6e6;
  cursor: default;
}

.Calender .react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Calender .react-datepicker__navigation--years-previous {
  top: 4px;
  border-top-color: #ccc;
}

.Calender .react-datepicker__navigation--years-previous:hover {
  border-top-color: #b3b3b3;
}

.Calender .react-datepicker__navigation--years-upcoming {
  top: -4px;
  border-bottom-color: #ccc;
}

.Calender .react-datepicker__navigation--years-upcoming:hover {
  border-bottom-color: #b3b3b3;
}

.Calender .react-datepicker__month-container {
  float: left;
  width: 100%;
}

.Calender .react-datepicker__month {
  text-align: center;
}

.Calender .react-datepicker__month .react-datepicker__month-text {
  display: inline-block;
  width: 4rem;
}

.Calender .react-datepicker__input-time-container {
  clear: both;
  width: 100%;
  float: left;
  margin: 5px 0 10px 15px;
  text-align: left;
}

.Calender .react-datepicker__input-time-container .react-datepicker-time__caption {
  display: inline-block;
}

.Calender .react-datepicker__input-time-container .react-datepicker-time__input-container {
  display: inline-block;
}

.Calender .react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input {
  display: inline-block;
  margin-left: 10px;
}

.Calender .react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input {
  width: 85px;
}

.Calender .react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type="time"]::-webkit-inner-spin-button,
.Calender .react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type="time"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Calender .react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type="time"] {
  -moz-appearance: textfield;
}

.Calender .react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__delimiter {
  margin-left: 5px;
  display: inline-block;
}

.react-datepicker__time-container {
  float: right;
  border-left: 1px solid #aeaeae;
  width: 70px;
}

.Calender .react-datepicker__time-container--with-today-button {
  display: inline;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  position: absolute;
  right: -72px;
  top: 0;
}

.Calender .react-datepicker__time-container .react-datepicker__time {
  position: relative;
  background: white;
}

.Calender .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 70px;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
}

.Calender .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  list-style: none;
  margin: 0;
  height: calc(195px + (1.7rem / 2));
  overflow-y: scroll;
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
  box-sizing: content-box;
}

.Calender .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  height: 30px;
  padding: 5px 10px;
}

.Calender .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.Calender .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: #216ba5;
  color: white;
  font-weight: bold;
}

.Calender .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
  background-color: #216ba5;
}

.Calender .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
  color: #ccc;
}

.Calender .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled:hover {
  cursor: default;
  background-color: transparent;
}

.Calender .react-datepicker__week-number {
  color: #ccc;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}
.Calender .react-datepicker__triangle{
  display: none;
}

.Calender .react-datepicker__week-number.react-datepicker__week-number--clickable {
  cursor: pointer;
}

.Calender .react-datepicker__week-number.react-datepicker__week-number--clickable:hover {
  border-radius: 0.3rem;
  background-color: #f0f0f0;
}

.Calender .react-datepicker__day-names,
.Calender .react-datepicker__week {
  white-space: nowrap;
}

.Calender .react-datepicker__day-name,
.Calender .react-datepicker__day,
.Calender .react-datepicker__time-name {
    color: #3b3b3b;
    display: inline-block;
    width: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    margin: 0.166rem;
    font-size: 10.2px;
}
.Calender select.react-datepicker__month-select {
    font-size: 16px;
    width: 120px;
}
.Calender select.react-datepicker__year-select {
    width: 100px;
    font-size: 16px;
}
.Calender .react-datepicker__current-month{
  display: none;
}
.Calender .react-datepicker__day,
.Calender .react-datepicker__month-text {
  cursor: pointer;
}

.Calender .react-datepicker__day:hover,
.Calender .react-datepicker__month-text:hover {
  border-radius: 100%;
  background-color: #f0f0f0;
}
.Calender .react-datepicker__day:focus,
.Calender .react-datepicker__month-text:focus {
    outline: none;
    box-shadow: 0 0 0 1px #f693b9 inset, 0 0 1px 2px rgba(246, 147, 185, 0.25) !important;
}

.Calender .react-datepicker__day--today,
.Calender .react-datepicker__month-text--today {
  font-weight: bold;
}

.Calender .react-datepicker__day--highlighted,
.Calender .react-datepicker__month-text--highlighted {
  border-radius: 0.3rem;
  background-color: #3dcc4a;
  color: #fff;
}

.Calender .react-datepicker__day--highlighted:hover,
.Calender .react-datepicker__month-text--highlighted:hover {
  background-color: #32be3f;
}

.Calender .react-datepicker__day--highlighted-custom-1,
.Calender .react-datepicker__month-text--highlighted-custom-1 {
  color: magenta;
}

.Calender .react-datepicker__day--highlighted-custom-2,
.Calender .react-datepicker__month-text--highlighted-custom-2 {
  color: green;
}
.Calender .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.Calender .react-datepicker__month-text--selected,
.Calender .react-datepicker__month-text--in-selecting-range,
.Calender .react-datepicker__month-text--in-range {
  border-radius: 0.3rem;
  background-color: #216ba5;
  color: #fff;
}

.Calender .react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover,
.Calender .react-datepicker__month-text--selected:hover,
.Calender .react-datepicker__month-text--in-selecting-range:hover,
.Calender .react-datepicker__month-text--in-range:hover {
  background-color: #1d5d90;
}

.Calender .react-datepicker__day--keyboard-selected,
.Calender .react-datepicker__month-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #2a87d0;
  color: #fff;
}

.Calender .react-datepicker__day--keyboard-selected:hover,
.Calender .react-datepicker__month-text--keyboard-selected:hover {
  background-color: #1d5d90;
}

.Calender .react-datepicker__day--in-selecting-range ,
.Calender .react-datepicker__month-text--in-selecting-range {
  background-color: rgba(33, 107, 165, 0.5);
}

.Calender .react-datepicker__month--selecting-range .react-datepicker__day--in-range , .react-datepicker__month--selecting-range
.Calender .react-datepicker__month-text--in-range {
  background-color: #f0f0f0;
  color: #000;
}

.Calender .react-datepicker__day--disabled,
.Calender .react-datepicker__month-text--disabled {
  cursor: default;
  color: #ccc;
}

.Calender .react-datepicker__day--disabled:hover,
.Calender .react-datepicker__month-text--disabled:hover {
  background-color: transparent;
}

.Calender .react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
.Calender input.datepicker.apex-item-text.apex-item-datepicker{
  width: 100%;
}
.Calender .react-datepicker__year-read-view,
.Calender .react-datepicker__month-read-view,
.Calender .react-datepicker__month-year-read-view {
  border: 1px solid transparent;
  border-radius: 0.3rem;
}

.Calender .react-datepicker__year-read-view:hover,
.Calender .react-datepicker__month-read-view:hover,
.Calender .react-datepicker__month-year-read-view:hover {
  cursor: pointer;
}

.Calender .react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.Calender .react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
.Calender .react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
.Calender .react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow,
.Calender .react-datepicker__month-year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.Calender .react-datepicker__month-year-read-view:hover .react-datepicker__month-read-view--down-arrow {
  border-top-color: #b3b3b3;
}

.Calender .react-datepicker__year-read-view--down-arrow,
.Calender .react-datepicker__month-read-view--down-arrow,
.Calender .react-datepicker__month-year-read-view--down-arrow {
  border-top-color: #ccc;
  float: right;
  margin-left: 20px;
  top: 8px;
  position: relative;
  border-width: 0.45rem;
}

.Calender .react-datepicker__year-dropdown,
.Calender .react-datepicker__month-dropdown,
.Calender .react-datepicker__month-year-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  z-index: 1;
  text-align: center;
  border-radius: 0.3rem;
  border: 1px solid #aeaeae;
}

.Calender .react-datepicker__year-dropdown:hover,
.Calender .react-datepicker__month-dropdown:hover,
.Calender .react-datepicker__month-year-dropdown:hover {
  cursor: pointer;
}

.Calender .react-datepicker__year-dropdown--scrollable,
.Calender .react-datepicker__month-dropdown--scrollable,
.Calender .react-datepicker__month-year-dropdown--scrollable {
  height: 150px;
  overflow-y: scroll;
}

.Calender .react-datepicker__year-option,
.Calender .react-datepicker__month-option,
.Calender .react-datepicker__month-year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Calender .react-datepicker__year-option:first-of-type,
.Calender .react-datepicker__month-option:first-of-type,
.Calender .react-datepicker__month-year-option:first-of-type {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.Calender .react-datepicker__year-option:last-of-type,
.Calender .react-datepicker__month-option:last-of-type,
.Calender .react-datepicker__month-year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.Calender .react-datepicker__year-option:hover,
.Calender .react-datepicker__month-option:hover,
.Calender .react-datepicker__month-year-option:hover {
  background-color: #ccc;
}

.Calender .react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
.Calender .Calender .react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming,
.Calender .react-datepicker__month-year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #b3b3b3;
}

.Calender .react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
.Calender .react-datepicker__month-option:hover .react-datepicker__navigation--years-previous,
.Calender .react-datepicker__month-year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #b3b3b3;
}

.Calender .react-datepicker__year-option--selected,
.Calender .react-datepicker__month-option--selected,
.Calender .react-datepicker__month-year-option--selected {
  position: absolute;
  left: 15px;
}

.Calender .react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: 0;
  padding: 0;
  vertical-align: middle;
  position: absolute;
  height: 16px;
  width: 16px;
  top: 25%;
  right: 7px;
}

.Calender .react-datepicker__close-icon::after {
  background-color: #216ba5;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  content: "\00d7";
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 1;
  margin: -8px auto 0;
  padding: 2px;
  position: absolute;
  right: 0px;
  text-align: center;
}

.Calender .react-datepicker__today-button {
  background: #fff;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}

.Calender .react-datepicker__portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2147483647;
}

.Calender .react-datepicker__portal .react-datepicker__day-name,
.Calender .react-datepicker__portal .react-datepicker__day,
.Calender .react-datepicker__portal .react-datepicker__time-name {
  width: 3rem;
  line-height: 3rem;
}

@media (max-width: 400px), (max-height: 550px) {
.Calender .react-datepicker__portal .react-datepicker__day-name,
.Calender .react-datepicker__portal .react-datepicker__day,
.Calender .react-datepicker__portal .react-datepicker__time-name {
    width: 2rem;
    line-height: 2rem;
  }
}

.Calender .react-datepicker__portal .react-datepicker__current-month,
.Calender .react-datepicker__portal .react-datepicker-time__header {
  font-size: 1.44rem;
}

.Calender .react-datepicker__portal .react-datepicker__navigation {
  border: 0.81rem solid transparent;
}

.Calender .react-datepicker__portal .react-datepicker__navigation--previous {
  border-right-color: #ccc;
}

.Calender .react-datepicker__portal .react-datepicker__navigation--previous:hover {
  border-right-color: #b3b3b3;
}

.Calender .react-datepicker__portal .react-datepicker__navigation--previous--disabled, 
.Calender .react-datepicker__portal .react-datepicker__navigation--previous--disabled:hover {
  border-right-color: #e6e6e6;
  cursor: default;
}

.Calender .react-datepicker__portal .react-datepicker__navigation--next {
  border-left-color: #ccc;
}

.Calender .react-datepicker__portal .react-datepicker__navigation--next:hover {
  border-left-color: #b3b3b3;
}

.Calender .react-datepicker__portal .react-datepicker__navigation--next--disabled,
.Calender .react-datepicker__portal .react-datepicker__navigation--next--disabled:hover {
  border-left-color: #e6e6e6;
  cursor: default;
}
