/*cart dropwon*/

@font-face {
    font-family: FontAwesome;
    src: url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.eot?#iefix) format('eot'), url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.woff) format('woff'), url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.ttf) format('truetype'), url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.svg#FontAwesome) format('svg');
    font-weight: 400;
    font-style: normal;
}

a:hover {
    text-decoration: none;
}

.moreless-button {
    float: right;
    text-decoration: none;
    cursor: pointer;
}

.fch {
    font-style: unset;
    font-variant: unset;
    font-size: 1.3em;
    line-height: unset;
    letter-spacing: unset;
    text-transform: unset;
    font-weight: 100;
    margin-bottom: 15px;
    font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
}

h1.h1p,
h2.h2p,
h3.h3p {
    font-size: 1em !important;
    margin-bottom: 1em !important;
    line-height: 1.4em !important;
}

.moreless-bu tton {
    float: right;
    text-decoration: none;
    cursor: pointer;
}

.fch {
    font-style: unset;
    font-variant: unset;
    font-size: 1.3em;
    line-height: unset;
    letter-spacing: unset;
    text-transform: unset;
    font-weight: 100;
    margin-bottom: 15px;
    font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
}

h1.h1p,
h2.h2p,
h3.h3p {
    font-size: 1em !important;
    margin-bottom: 1em !important;
    line-height: 1.4em !important;
    font-weight: bold !important;
}

.more-text {
    display: none;
}

ul.pflags {
    display: flex;
    justify-content: center;
}

li.ppopup-textholder {
    width: 100%;
    text-align: center;
    margin: 0 15px 0px;
    font-weight: bold;
    padding: 5px 0;
}

li.active {
    list-style-position: inside;
    border: 3px solid #f599bb;
}

li.ppopup-textholder.active {
    padding: 2px 0;
}
#R37391169766147740 .t-Region-body>.container{
    overflow: hidden;
}
.pinternational,
.pksa,
.pkuwait,
.puae,
.pbuhrain,
.poman,
.pqatar {
    display: inline-block;
    background: url('https://storage.googleapis.com/nay/icons/nay-flags3.png') no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

.pinternational {
    background-position: -2px -3px;
    width: 48px;
    height: 48px;
}

.pksa {
    background-position: -3px -57px;
    width: 48px;
    height: 48px;
}

.pkuwait {
    background-position: -5px -118px;
    width: 48px;
    height: 48px;
}

.puae {
    background-position: -3px -111px;
    width: 48px;
    height: 48px;
}

.pbuhrain {
    background-position: -5px -224px;
    width: 48px;
    height: 48px;
}

.poman {
    background-position: -5px -277px;
    width: 48px;
    height: 48px;
}

.pqatar {
    background-position: -5px -330px;
    width: 48px;
    height: 48px;
}

.ui-dialog.ui-dialog--inline .ui-dialog-titlebar {
    flex-shrink: 0;
    display: none !important;
}

.button-user {
    position: relative;
    margin: 1em;
    padding: 0.67em;
    border: 2px solid #FFF;
    overflow: hidden;
    text-decoration: none;
    font-size: 2em;
    outline: none;
    color: #f599ba;
    background: transparent;
    font-family: 'raleway', sans-serif;
}

.button-user span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button-user:before,
.button-user:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s, opacity .6s;
    -moz-transition: .4s, opacity .6s;
    -o-transition: .4s, opacity .6s;
    transition: .4s, opacity .6s;
}


/* :before */

.button-user:before {
    content: attr(data-hover);
    -webkit-transform: translate(0, -150%);
    -moz-transform: translate(0, -150%);
    -ms-transform: translate(0, -150%);
    -o-transform: translate(0, -150%);
    transform: translate(0, -150%);
}


/* :after */

.button-user:after {
    content: attr(data-active);
    -webkit-transform: translate(0, 150%);
    -moz-transform: translate(0, 150%);
    -ms-transform: translate(0, 150%);
    -o-transform: translate(0, 150%);
    transform: translate(0, 150%);
}

/* Span on :hover and :active */

.button-user:hover span,
.button-user:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}


/*  
        We show :before pseudo-element on :hover 
        and :after pseudo-element on :active 
    */

.button-user:hover:before,
.button-user:active:after {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}


/* 
      We hide :before pseudo-element on :active
    */

.button-user:active:before {
    -webkit-transform: translate(0, -150%);
    -moz-transform: translate(0, -150%);
    -ms-transform: translate(0, -150%);
    -o-transform: translate(0, -150%);
    transform: translate(0, -150%);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.collapse-a {
    display: block!important;
}
@media only screen and (max-width: 959px) {
    .homePage .braPanty .animate .textBox h6 {
        opacity: 1 !important;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.b-footer_middle {
    padding: 28px 0 28px 0;
}



.b-main_carousel,
.g-wrapper-main_content,
.ui-dialog.m-cookie_privacy {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 0px;
}

.b-footer_navigation::after {
    content: "";
    display: table;
    clear: both;
}

html[lang="en"] .b-footer_navigation .b-accordion_wrapper {
    width: 20%;
    float: left;
    margin-left: 0px;
    text-align: left;
}

html[dir="rtl"] .b-footer_navigation .b-accordion_wrapper {
    width: 20%;
    float: right;
    margin-right: 0px;
    text-align: right;
}

html[lang="en"] footer.t-Footer .b-accordion_title {
    margin-bottom: 15px;
    color: #f693b9;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;
}

html[dir="rtl"] .b-accordion_title {
    margin-bottom: 15px;
    color: #f693b9;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;
}

ol,
ul {
    list-style: none;
}

.b-accordion_container li {
    margin-bottom: 5px;
}

.b-accordion_container a {
    color: #000;
    font-size: 12px;
}

.b-footer_navigation .b-accordion_container a {
    padding-right: 10px;
    letter-spacing: 0.05rem;
}

.b-footer_navigation .navigation_wrapper_2 {
    width: 22%;
}

.b-footer_navigation .navigation_wrapper_4 {
    width: 32%;
}

.b-footer_navigation .b-accordion_container.m-websites {
    columns: auto 2;
}

.b-footer_navigation-catalogue_wrap {
    margin-top: 23px;
    padding-top: 45px;
    border-top: 1px solid rgb(231, 231, 231);
}

.b-footer_navigation .b-accordion_container.m-catalogue {
    position: relative;
    padding-left: 73px;
}

.i-small_arrow::before {
    content: "";
}

.b-footer_navigation .b-accordion_container.m-catalogue a {
    display: inline-block;
    position: relative;
    padding-right: 19px;
    color: #363534;
    font-size: 13px;
}

a.Applogo {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) 0px -53px no-repeat;
    width: 150px;
    height: 48px;
}

a.Appstore {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) -159px -104px no-repeat;
    width: 150px;
    height: 53px;
}

a.Acregister {
    background: url(https://storage.googleapis.com/nay/icons/amirah-logo_sprite.png) 37px 0px no-repeat;
    width: 121px;
    height: 95px;
}

html[dir="rtl"] a.Register {
    background: url(https://storage.googleapis.com/nay/icons/amirah-logo_sprite.png) -80px -3px no-repeat !important;
    width: 121px;
    height: 95px;
}

html[dir="rtl"] a.applogo {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) 0px -53px no-repeat;
    width: 150px;
    height: 48px;
}

html[dir="rtl"] a.appStore {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) -159px -104px no-repeat;
    width: 150px;
    height: 53px;
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_middle {
        padding: 30px 0px 17px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_middle {
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    .b-main_carousel,
    .g-wrapper-main_content,
    .ui-dialog.m-cookie_privacy {
        min-width: 320px;
        max-width: 767px;
        padding: 0px 10px;
    }
}

@media print {
    .b-main_carousel,
    .g-wrapper-main_content,
    .ui-dialog.m-cookie_privacy {
        padding: 0px !important;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: 100% !important;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper:first-child {
        border-top: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    footer.t-Footer .b-footer_navigation .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .navigation_wrapper_2 {
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .navigation_wrapper_4 {
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media only screen and (max-width: 1199px) {
    .b-footer_navigation .b-accordion_container.m-websites {
        columns: auto 1;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) {
    .b-footer_navigation-catalogue_wrap {
        margin-top: 20px;
        padding-top: 0px;
        border-top: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation-catalogue_wrap {
        max-width: none;
        margin: 0px -10px;
        padding: 22px 0px 5px;
        border-top: 1px solid rgb(231, 231, 231);
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue {
        padding-left: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container.m-catalogue {
        display: block;
        width: 210px;
        margin: 0px auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        text-transform: lowercase;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        text-transform: lowercase;
    }
}

.shopping-cart {
    margin: 0px 0;
    float: right;
    background: #fafafa;
    position: absolute;
    border-radius: 3px;
    padding: 0px;
    border: 1px solid #c2c2c2;
    text-align: left;
    width: 492px;
    right: 5%;
    z-index: 100;
    border-top: none;
    border-radius: inherit;
}

html[dir="rtl"] .shopping-cart {
    float: left;
    left: 5%;
    right: unset !important;
}

.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}

.shopping-cart .shopping-cart-items {
    padding-top: 0px;
}

.shopping-cart .shopping-cart-items li {
    margin-bottom: 0px;
    border-bottom: 1px solid #e1e1e1;
}

.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
}

.shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-price {
    color: #6394F8;
    margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
    color: #ABB0BE;
}

.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    /* content: " "; */
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.button {
    background: #6394F8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.button:hover {
    background: #729ef9;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.shopping-cart .flyout-image {
    clear: both;
    float: left;
    margin: 20px;
    position: relative;
    width: 96px;
}

html[dir="rtl"] .shopping-cart .flyout-image {
    float: right;
}

.shopping-cart .flyout-image img {
    height: auto;
    vertical-align: bottom;
    width: 100%;
    max-height: 128px;
}

.shopping-cart .flyout-description {
    float: left;
    padding: 20px 0;
    position: relative;
    width: calc(100% - 136px);
}

.shopping-cart .flyout-description h4 {
    margin: 0 170px 10px 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .04em;
    text-transform: inherit;
    font-weight: normal;
}

html[dir="rtl"] .shopping-cart .flyout-description h4 {
    margin: unset !important;
}

.flyout-description p {
    font-size: 11px;
    line-height: 17px;
}

.flyout-price .fab-h4 {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .04em;
    text-transform: inherit;
    font-weight: normal;
}

.flyout-desc {
    position: absolute;
    left: 20px;
    text-align: left;
    top: 20px;
}

html[dir="rtl"] .flyout-desc {
    right: 20px !important;
    text-align: right !important;
}

.flyout-price p {
    font-size: 11px;
    line-height: 17px;
    letter-spacing: .04em;
    text-transform: inherit;
    font-weight: normal;
}

.shopping-cart table {
    margin: 5px 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.shopping-cart .flyout-price {
    position: absolute;
    right: 20px;
    text-align: right;
    top: 20px;
    width: 130px;
}

html[dir="rtl"] .shopping-cart .flyout-price {
    position: absolute;
    left: 20px;
    right: unset !important;
    text-align: left;
    top: 20px;
    width: 130px;
}

.fabric h4,
.fabric .fab-h4 {
    font-family: BentonSans, sans-serif;
    -webkit-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .04em;
    text-transform: inherit;
    font-weight: normal;
}

.shopping-cart .flyout-total {
    border-bottom: 1px solid #e1e1e1;
    clear: both;
    padding: 20px;
    position: relative;
}

.shopping-cart .flyout-total p {
    font-size: 11px;
    line-height: 17px;
    letter-spacing: .04em;
    text-transform: inherit;
    font-weight: normal;
}

.shopping-cart .flyout-total p a {
    color: #f599ba;
    cursor: pointer;
}

.shopping-cart .flyout-subtotal {
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.shopping-cart .flyout-subtotal em {
    color: #f599ba;
}

.shopping-cart .flyout-buttons {
    overflow: hidden;
    padding: 20px;
}

.shopping-cart .flyout-buttons button {
    float: left;
    max-width: 250px;
    background: #fff;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    color: #000;
    min-height: 35px;
    line-height: 21px;
    min-width: 150px;
    padding: 7px 28px 4px;
    font-family: BentonSansCompMedium, sans-serif;
    font-size: 14px;
    letter-spacing: .15em;
    text-transform: uppercase;
    font-weight: bold;
}

.shopping-cart .flyout-buttons button {
    float: left;
    max-width: 250px;
    background: #fff;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    color: #000;
    min-height: 35px;
    line-height: 21px;
    min-width: 150px;
    padding: 7px 28px 4px;
    font-size: 14px;
    letter-spacing: .15em;
    text-transform: uppercase;
    font-weight: bold;
}

.fabric .fab-btn--secondary,
.fabric .fab-btn--secondary-small,
.fabric .fab-btn--secondary-xsmall,
.fabric .fab-btn--secondary-flex {
    background: #fff;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    color: #000;
    min-height: 35px;
    line-height: 21px;
    min-width: 150px;
    padding: 7px 28px 4px;
}

.shopping-cart .flyout-buttons a {
    float: right;
    max-width: 177px;
    background: #f599ba;
    border-color: #f599ba;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    min-height: 35px;
    line-height: 21px;
    min-width: 150px;
    padding: 6px 40px;
    text-decoration: none;
}

.shopping-cart a.fab-btn--secondary {
    float: left;
    max-width: unset;
    background: #fafafa;
    color: #000;
    border-color: #e1e1e1;
    letter-spacing: 0.15em;
    cursor: pointer;
    min-height: 35px;
    line-height: 21px;
    min-width: 150px;
    padding: 6px 40px;
    text-decoration: none;
}

html[dir="rtl"] .shopping-cart a.fab-btn--secondary {
    letter-spacing: inherit;
}

.fabric .fab-btn--primary,
.fabric .fab-btn--primary-small,
.fabric .fab-btn--primary-flex,
.fabric .fab-btn--primary-small-grey {
    background: #ef5f96;
    border-color: #ef5f96;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    min-height: 35px;
    line-height: 21px;
    min-width: 150px;
    padding: 6px 28px 4px;
}

.vs-sport .fabric .fab-btn--secondary-xsmall,
.fabric .fab-btn--secondary-xsmall,
.vs-sport .fabric .fab-btn--primary,
.vs-sport .fabric .fab-btn--primary-small,
.vs-sport .fabric .fab-btn--primary-flex,
.vs-sport .fabric .fab-btn--primary-small-grey,
.vs-sport .fabric .fab-btn--secondary,
.vs-sport .fabric .fab-btn--secondary-small,
.vs-sport .fabric .fab-btn--secondary-flex,
.vs-sport .fabric .fab-btn--primary-black,
.fabric .fab-btn--primary,
.fabric .fab-btn--primary-small,
.fabric .fab-btn--primary-flex,
.fabric .fab-btn--primary-small-grey,
.fabric .fab-btn--secondary,
.fabric .fab-btn--secondary-small,
.fabric .fab-btn--secondary-flex,
.fabric .fab-btn--primary-black {
    font-family: BentonSansCompMedium, sans-serif;
    font-size: 19px;
    letter-spacing: .15em;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    margin: 0;
}

.shopping-cart th {
    font-weight: normal;
    width: 45px;
    text-align: left;
    font-size: 11px;
    line-height: 17px;
}

html[dir="rtl"] .shopping-cart th {
    text-align: right;
}

.shopping-cart td {
    font-size: 11px;
    line-height: 17px;
}


/*Cart dropdown end*/

@media only screen and (min-width: 1200px) {
    .h-hidden-desktop,
    .h-hidden_desktop,
    .hidden-desktop {
        display: none !important;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    /*background: #888;*/
}

::-webkit-scrollbar-thumb {
     /*background: #888;*/
}

@media only screen and (min-width: 1600px) {
    .shopping-cart {
        right: 18%;
    }
    html[dir="rtl"] .shopping-cart {
        left: 18%;
        right: unset !important;
    }
}

.desktop [data-selector-wrapper] {
    margin-bottom: 20px;
}

[data-selector-wrapper] {
    position: relative;
    z-index: 1;
    margin: 15px 0;
}

[data-selector='box'] {
    position: relative;
    z-index: 0;
}

[data-selector='box'][data-is-image-based='true'] [role='radio'] {
    height: 35px;
    overflow: hidden;
    vertical-align: middle;
    width: 35px;
    border-radius: 50%;
}

[data-selector='box'] [role='radio'] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 5px 7px 5px 0;
    position: relative;
    color: #000;
}

.fabric a,
.fab-link--default {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.fab-a11y-hide {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    top: auto;
    width: 1px;
}

[data-selector='box'][data-is-image-based='true'] [role='radio'] img {
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.desktop .unavailable-short-icon.base,
.tablet .unavailable-short-icon.base {
    height: 125px;
    width: 125px;
}

.unavailable-short-icon.base {
    height: 63px;
    width: 63px;
}

[data-selector='box']:not([data-is-image-based='true']) [role='radio'][data-is-selected='true'],
.desktop [data-selector='box']:not([data-is-image-based='true']) [role='radio']:hover {
    border-color: #000;
}

[data-selector='box']:not([data-is-image-based='true']) [role='radio'] {
    border: 1px solid #e1e1e1;
    line-height: 33px;
    min-width: 35px;
    padding: 0 5px;
    text-align: center;
}

[data-selector='box'] [role='radio'] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 5px 7px 5px 0;
    position: relative;
    color: #000;
}

.fabric a,
.fab-link--default {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.fab-a11y-hide {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    top: auto;
    width: 1px;
}

#prddetail .heading {
    font-size: 3.2rem;
    margin: 5px 0 0 0;
}

#prddetail .prdhead {
    color: #f599ba;
    font-size: 2.5rem;
    margin: 20px 0 0 0;
}

#prddetail .prdcode {
    color: #000000;
    font-size: 1.5rem;
    margin: 20px 0 0 0;
}

#prddetail .prdcode strong {
    color: #f599ba;
}

#prddetail ul {
    list-style: disc;
    padding: 0 0 0 15px;
}

#prddetail ul li {
    list-style: initial;
    font-size: 11px;
}

#prddetail ul li a {
    color: #f599ba;
    font-size: 11px;
    cursor: pointer;
}

hr {
    border: 0;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(#e1e1e1), color-stop(11%, #000000), color-stop(11.1%, #f1f1f1), to(#fff));
    background: linear-gradient(to right, #e1e1e1, #000000 11%, #f1f1f1 11.1%, #fff);
    background-size: 9px;
    margin: 20px 0;
}

[data-selector-wrapper] .ruler {
    font-size: 11px;
    margin: 15px 0;
    color: #f599bb;
}

[data-selector-wrapper] .ruler img {
    width: 3%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: sub;
    margin-right: 5px;
}

#offer h6 {
    font-size: 18px;
    color: #f599ba;
    margin: 0;
}

[data-selector='box'][data-is-image-based='true'] [role='radio'][data-is-selected='true']::before,
.desktop [data-selector='box'][data-is-image-based='true'] [role='radio']:hover::before {
    border: 3px solid #e1e1e1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 33px;
    left: 0;
    margin: 1px;
    outline: 1px solid #000;
    position: absolute;
    top: 0;
    width: 33px;
    z-index: 2;
    border-radius: 50%;
}

[data-selector='box']:not([data-is-image-based='true']) [role='radio'][data-is-selected='true'],
.desktop [data-selector='box']:not([data-is-image-based='true']) [role='radio']:hover {
    border-color: #000;
}

.desktop [data-selector='box'] [role='radio']:hover {
    color: #000;
}

html.desktop :focus,
html.tablet :focus,
html.mobile :focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 none;
}

[data-selector='box'][data-is-image-based='true'] [role='radio'][aria-disabled='true'] .unavailable-short-icon {
    left: -7px;
    position: absolute;
    top: -7px;
    z-index: 1;
    height: 50px;
    width: 50px;
    fill: #fff;
    color: #f5f5f5;
}

.desktop .unavailable-short-icon.base,
.tablet .unavailable-short-icon.base {
    height: 125px;
    width: 125px;
}

.unavailable-short-icon.base {
    height: 63px;
    width: 63px;
}

.fab-a11y-hide {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    top: auto;
    width: 1px;
}

[data-selector='box']:not([data-is-image-based='true']) [role='radio'][aria-disabled='true'] {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #666;
}

@media only screen and (max-width:767px) {
    .h-hidden-mobile,
    .h-hidden_mobile,
    .hidden-mobile {
        display: none!important
    }
}

@media only screen and (min-width:1200px) {
    .h-hidden-desktop,
    .h-hidden_desktop,
    .hidden-desktop {
        display: none!important
    }
}

@media only screen and (max-width: 767px) {
    footer.t-Footer .b-accordion_wrapper.m-active .b-accordion_title span:before {
        font-family: FontAwesome!important;
        content: "\f068";
    }
}

@media only screen and (max-width: 767px) {
    html[dir=rtl] footer.t-Footer .b-accordion_title span:before,
    html[lang=en] footer.t-Footer .b-accordion_title span:before {
        font-family: FontAwesome!important;
        content: "\f067";
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 18px;
    }
    footer.t-Footer h6.b-accordion_title.js-accordion_title.icon-down-footer.m-active:before {
        font-family: FontAwesome!important;
        content: "\f068";
    }
}

.cd-top {

  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgb(250, 151, 185) url(https://img.icons8.com/ios/50/000000/circled-up-2.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  border-radius: 100%;
  z-index:100;

}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-top--fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.cd-top:hover {
    background-color: #f599bb;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
        z-index: 100;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
        z-index: 100;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hide-buttons {
        display: none !important;
    }
}


/*# sourceMappingURL=app.css.map */