/*cart dropwon*/
@font-face {
    font-family: FontAwesome;
    src: url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.eot?#iefix) format('eot'), url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.woff) format('woff'), url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.ttf) format('truetype'), url(https://netdna.bootstrapcdn.com/font-awesome/2.0/font//fontawesome-webfont.svg#FontAwesome) format('svg');
    font-weight: 400;
    font-style: normal;
}
.shopping-cart {
    margin: 0px 0;
    float: right;
    background: #fafafa;
    position: absolute;
    border-radius: 3px;
    padding: 0px;
    border: 1px solid #c2c2c2;
    text-align: left;
    width: 492px;
    right: 5%;
    z-index: 100;
    border-top: none;
    border-radius: inherit;
}

html[dir="rtl"] .shopping-cart {
    
    float: left;
    left: 5%;
	right: unset !important;

}

.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}

.shopping-cart .shopping-cart-items {
    padding-top: 0px;
}

.shopping-cart .shopping-cart-items li {
    margin-bottom: 0px;
    border-bottom: 1px solid #e1e1e1;
}

.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
}

.shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-price {
    color: #6394F8;
    margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
    color: #ABB0BE;
}

.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    /* content: " "; */
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.button {
    background: #6394F8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.button:hover {
    background: #729ef9;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.shopping-cart .flyout-image {
    clear: both;
    float: left;
    margin: 20px;
    position: relative;
    width: 96px;
}

html[dir="rtl"] .shopping-cart .flyout-image {   
    float: right;   
}


.shopping-cart .flyout-image img {
    height: auto;
    vertical-align: bottom;
    width: 100%;
    max-height: 128px;
}

.shopping-cart .flyout-description {
    float: left;
    padding: 20px 0;
    position: relative;
    width: calc(100% - 136px);
}

.shopping-cart .flyout-description h4 {
    margin: 0 170px 10px 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .04em;
    text-transform: inherit;
    font-weight: normal;
}

html[dir="rtl"] .shopping-cart .flyout-description h4 {
    margin: unset !important;
}

.flyout-description p {
    font-size: 11px;
    line-height: 17px;
}

.flyout-price .fab-h4 {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .04em;
    text-transform: inherit;
    font-weight: normal;
}
.flyout-desc {
	position: absolute;
    left: 20px;
    text-align: left;
    top: 20px;
}
html[dir="rtl"] .flyout-desc {
	
    right: 20px !important;
    text-align: right !important;
    
}

.flyout-price p {
    font-size: 11px;
    line-height: 17px;
    letter-spacing: .04em;
    text-transform: inherit;
    font-weight: normal;
}

.shopping-cart table {
    margin: 5px 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.shopping-cart .flyout-price {
    position: absolute;
    right: 20px;
    text-align: right;
    top: 20px;
    width: 130px;
}


html[dir="rtl"] .shopping-cart .flyout-price {
        position: absolute;
    left: 20px;
	right:unset !important;
    text-align: left;
    top: 20px;
    width: 130px;
}
.fabric h4,
.fabric .fab-h4 {
    font-family: BentonSans, sans-serif;
    -webkit-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .04em;
    text-transform: inherit;
    font-weight: normal;
}

.shopping-cart .flyout-total {
    border-bottom: 1px solid #e1e1e1;
    clear: both;
    padding: 20px;
    position: relative;
}

.shopping-cart .flyout-total p {
    font-size: 11px;
    line-height: 17px;
    letter-spacing: .04em;
    text-transform: inherit;
    font-weight: normal;
}

.shopping-cart .flyout-total p a {
    color: #f599ba;
    cursor: pointer;
}

.shopping-cart .flyout-subtotal {
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.shopping-cart .flyout-subtotal em {
    color: #f599ba;
}

.shopping-cart .flyout-buttons {
    overflow: hidden;
    padding: 20px;
}

.shopping-cart .flyout-buttons button {
    float: left;
    max-width: 250px;
    background: #fff;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    color: #000;
    min-height: 35px;
    line-height: 21px;
    min-width: 150px;
    padding: 7px 28px 4px;
    font-family: BentonSansCompMedium, sans-serif;
    font-size: 14px;
    letter-spacing: .15em;
    text-transform: uppercase;
    font-weight: bold;
}

.shopping-cart .flyout-buttons button {
    float: left;
    max-width: 250px;
    background: #fff;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    color: #000;
    min-height: 35px;
    line-height: 21px;
    min-width: 150px;
    padding: 7px 28px 4px;
    font-size: 14px;
    letter-spacing: .15em;
    text-transform: uppercase;
    font-weight: bold;
}

.fabric .fab-btn--secondary,
.fabric .fab-btn--secondary-small,
.fabric .fab-btn--secondary-xsmall,
.fabric .fab-btn--secondary-flex {
    background: #fff;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
    color: #000;
    min-height: 35px;
    line-height: 21px;
    min-width: 150px;
    padding: 7px 28px 4px;
}

.shopping-cart .flyout-buttons a {
    float: right;
    max-width: 177px;
    background: #f599ba;
    border-color: #f599ba;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    min-height: 35px;
    line-height: 26px;
    min-width: 150px;
    text-align: center;
    text-decoration: none;
}
.shopping-cart  a.fab-btn--secondary{
    float: left;
    max-width: unset;
    background: #fafafa;
    color: #000;
    border-color: #e1e1e1;
    letter-spacing: 0.15em;
    cursor: pointer;
	 min-height: 35px;
    line-height: 26px;
    min-width: 150px;
    text-align: center;
    text-decoration: none;
}

html[dir="rtl"] .shopping-cart  a.fab-btn--secondary{    
    letter-spacing: inherit;    
}

.fabric .fab-btn--primary,
.fabric .fab-btn--primary-small,
.fabric .fab-btn--primary-flex,
.fabric .fab-btn--primary-small-grey {
    background: #ef5f96;
    border-color: #ef5f96;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    min-height: 35px;
    line-height: 21px;
    min-width: 150px;
    padding: 6px 28px 4px;
}

.vs-sport .fabric .fab-btn--secondary-xsmall,
.fabric .fab-btn--secondary-xsmall,
.vs-sport .fabric .fab-btn--primary,
.vs-sport .fabric .fab-btn--primary-small,
.vs-sport .fabric .fab-btn--primary-flex,
.vs-sport .fabric .fab-btn--primary-small-grey,
.vs-sport .fabric .fab-btn--secondary,
.vs-sport .fabric .fab-btn--secondary-small,
.vs-sport .fabric .fab-btn--secondary-flex,
.vs-sport .fabric .fab-btn--primary-black,
.fabric .fab-btn--primary,
.fabric .fab-btn--primary-small,
.fabric .fab-btn--primary-flex,
.fabric .fab-btn--primary-small-grey,
.fabric .fab-btn--secondary,
.fabric .fab-btn--secondary-small,
.fabric .fab-btn--secondary-flex,
.fabric .fab-btn--primary-black {
    font-family: BentonSansCompMedium, sans-serif;
    font-size: 19px;
    letter-spacing: .15em;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    margin: 0;
}

.shopping-cart th {
    font-weight: normal;
    width: 45px;
    text-align: left;
    font-size: 11px;
    line-height: 17px;
}
html[dir="rtl"] .shopping-cart th {
    text-align: right;
}
.shopping-cart td {
    font-size: 11px;
    line-height: 17px;
}


/*Cart dropdown end*/

@media only screen and (min-width: 1200px) {
    .h-hidden-desktop,
    .h-hidden_desktop,
    .hidden-desktop {
        display: none !important;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

@media only screen and (min-width: 1600px) {
    .shopping-cart {
        right: 18%;
    }
	html[dir="rtl"] .shopping-cart {
        left: 18%;
		right: unset !important;
    }
}

.desktop [data-selector-wrapper] {
    margin-bottom: 20px;
}

[data-selector-wrapper] {
    position: relative;
    z-index: 1;
    margin: 15px 0;
}

[data-selector='box'] {
    position: relative;
    z-index: 0;
}

[data-selector='box'][data-is-image-based='true'] [role='radio'] {
    height: 35px;
    overflow: hidden;
    vertical-align: middle;
    width: 35px;
    border-radius: 50%;
}

[data-selector='box'] [role='radio'] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 5px 7px 5px 0;
    position: relative;
    color: #000;
}

.fabric a,
.fab-link--default {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.fab-a11y-hide {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    top: auto;
    width: 1px;
}

[data-selector='box'][data-is-image-based='true'] [role='radio'] img {
    display: block;
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.desktop .unavailable-short-icon.base,
.tablet .unavailable-short-icon.base {
    height: 125px;
    width: 125px;
}

.unavailable-short-icon.base {
    height: 63px;
    width: 63px;
}

[data-selector='box']:not([data-is-image-based='true']) [role='radio'][data-is-selected='true'],
.desktop [data-selector='box']:not([data-is-image-based='true']) [role='radio']:hover {
    border-color: #000;
}

[data-selector='box']:not([data-is-image-based='true']) [role='radio'] {
    border: 1px solid #e1e1e1;
    line-height: 33px;
    min-width: 35px;
    padding: 0 5px;
    text-align: center;
}

[data-selector='box'] [role='radio'] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    margin: 5px 7px 5px 0;
    position: relative;
    color: #000;
}

.fabric a,
.fab-link--default {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.fab-a11y-hide {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    top: auto;
    width: 1px;
}

#prddetail .heading {
    font-size: 3.2rem;
    margin: 5px 0 0 0;
}

#prddetail .prdhead {
    color: #f599ba;
    font-size: 2.5rem;
    margin: 20px 0 0 0;
}

#prddetail .prdcode {
    color: #000000;
    font-size: 1.5rem;
    margin: 20px 0 0 0;
}

#prddetail .prdcode strong {
    color: #f599ba;
}

#prddetail ul {
    list-style: disc;
    padding: 0 0 0 15px;
}

#prddetail ul li {
    list-style: initial;
    font-size: 11px;
}

#prddetail ul li a {
    color: #f599ba;
    font-size: 11px;
    cursor: pointer;
}

hr {
    border: 0;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, from(#e1e1e1), color-stop(11%, #000000), color-stop(11.1%, #f1f1f1), to(#fff));
    background: linear-gradient(to right, #e1e1e1, #000000 11%, #f1f1f1 11.1%, #fff);
    background-size: 9px;
    margin: 20px 0;
}

[data-selector-wrapper] .ruler {
    font-size: 11px;
    margin: 15px 0;
    color: #f599bb;
}

[data-selector-wrapper] .ruler img {
    width: 3%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: sub;
    margin-right: 5px;
}

#offer h6 {
    font-size: 18px;
    color: #f599ba;
    margin: 0;
}

[data-selector='box'][data-is-image-based='true'] [role='radio'][data-is-selected='true']::before,
.desktop [data-selector='box'][data-is-image-based='true'] [role='radio']:hover::before {
    border: 3px solid #e1e1e1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 33px;
    left: 0;
    margin: 1px;
    outline: 1px solid #000;
    position: absolute;
    top: 0;
    width: 33px;
    z-index: 2;
    border-radius: 50%;
}

[data-selector='box']:not([data-is-image-based='true']) [role='radio'][data-is-selected='true'],
.desktop [data-selector='box']:not([data-is-image-based='true']) [role='radio']:hover {
    border-color: #000;
}

.desktop [data-selector='box'] [role='radio']:hover {
    color: #000;
}

html.desktop :focus,
html.tablet :focus,
html.mobile :focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 none;
}

[data-selector='box'][data-is-image-based='true'] [role='radio'][aria-disabled='true'] .unavailable-short-icon {
    left: -7px;
    position: absolute;
    top: -7px;
    z-index: 1;
    height: 50px;
    width: 50px;
    fill: #fff;
    color: #f5f5f5;
}

.desktop .unavailable-short-icon.base,
.tablet .unavailable-short-icon.base {
    height: 125px;
    width: 125px;
}

.unavailable-short-icon.base {
    height: 63px;
    width: 63px;
}

.fab-a11y-hide {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    top: auto;
    width: 1px;
}

[data-selector='box']:not([data-is-image-based='true']) [role='radio'][aria-disabled='true'] {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #666;
}


@media only screen and (max-width:767px){
	.h-hidden-mobile,.h-hidden_mobile,.hidden-mobile{
		display:none!important
		}
	}
	
	@media only screen and (min-width:1200px) {
    .h-hidden-desktop,
    .h-hidden_desktop,
    .hidden-desktop {
        display: none!important
    }
}
@media only screen and (max-width: 767px){
.b-accordion_wrapper.m-active .b-accordion_title:before {
    font-family: FontAwesome!important;
    content: "\f068";
}
}
@media only screen and (max-width: 767px){
html[dir=rtl] .b-accordion_title:before, html[lang=en] .b-accordion_title:before {
    font-family: FontAwesome!important;
    content: "\f067";
    position: absolute;
    top: 50%;
    right:0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 18px;
}
}




.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgb(250, 151, 185) url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTYgMTYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE2IDE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iOCwyLjggMTYsMTAuNyAxMy42LDEzLjEgOC4xLDcuNiAyLjUsMTMuMiAwLDEwLjcgIi8+DQo8L3N2Zz4NCg==") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
        border-radius: 100%;
		z-index:100;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
  
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #f599bb;
  opacity: 1 !important;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
	z-index:100;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
	z-index:100;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
	.hide-buttons{
		display:none !important;
	}
}
/*# sourceMappingURL=app.css.map */
