
@font-face {
    font-family: 'Conv_frenchvanillaswirlitalic-webfont';
    src: url('font/frenchvanillaswirlitalic-webfont.eot');
    src: local('☺'), url('font/frenchvanillaswirlitalic-webfont.woff') format('woff'), url('font/frenchvanillaswirlitalic-webfont.ttf') format('truetype'), url('font/frenchvanillaswirlitalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Noto Sans KR';
  src: url('font/notokufiarabic-regular-webfont.eot');
  src: url('notokufiarabic-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('notokufiarabic-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

