
.storeLocator-container {
    position: relative;
    background: #fff
}

.storeLocator-container * {
    box-sizing: border-box
}

.storeLocator-map {
    border: 1px solid #d7d7d7;
    background-color: #e5e3df;
    height: 500px
}

.storeLocator-infoWindow {
    max-width: 200px
}

.storeLocator-infoWindow h4 {
    margin: 0 0 5px;
    padding: 0;
	color: #fb0000;
}

.storeLocator-searchBox {
    border: 1px solid #d7d7d7;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: absolute;
    top: 15px;
    bottom: 30px;
    left: 10px;
    width: 40%;
    background: #fff;
    z-index: 1
}

.storeLocator-storesList {
    border: 1px solid #d7d7d7;
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 0
}

.storeLocator-storesList li {
    background: #f8f8f8;
    color: #333;
    padding: 15px;
    margin: 0 0 1px;
    transition: background .2s ease;
    position: relative
}

.storeLocator-storesList .storeLocator-activeShop {
    background: #ebebeb
}

.storeLocator-storesList li h4 {
    margin: 0 0 5px;
    font-size: 14px;
	color:#000000;
}

.storeLocator-storesList li address {
    margin: 0 0 10px
}

.storeLocator-searchInput {
    border: 1px solid #d7d7d7;
    position: relative;
    margin-bottom: 10px
}

.storeLocator-searchInput input {
    border: 0;
    background: #fff;
    line-height: 36px;
    height: 36px;
    width: 100%;
    padding: 0 36px 0 15px;
    font-size: 14px;
    outline: none
}

.storeLocator-searchIcon {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 16px
}

.storeLocator-searchHint {
    margin-bottom: 10px;
    padding: 0 2px;
    font-size: 14px;
    color: #696969
}

.storeLocator-storeActions {
    text-transform: uppercase;
    font-size: 13px
}

.storeLocator-storeActions a {
    margin-right: 10px;
    text-decoration: none;
    color: #999;
    transition: color .2s ease
}

.storeLocator-storeActions a:hover {
    color: #000
}

.storeLocator-storeActions a:hover svg {
    fill: #000
}

.storeLocator-storeActions a svg {
    vertical-align: middle;
    margin-right: 3px;
    fill: #999;
    transition: fill .2s ease
}

.storeLocator-storeDistance {
    color: #999;
    font-size: 14px;
    margin-bottom: 5px
}

@media (max-width:767px) {
    .storeLocator-searchBox {
        padding: 10px;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: auto;
        width: auto
    }
    .storeLocator-storesList {
        position: absolute;
        top: 350px;
        left: -11px;
        right: -11px;
        height: 250px
    }
    .storeLocator-map {
        height: 350px
    }
    .storeLocator-searchHint {
        display: none
    }
    .storeLocator-searchInput {
        margin-bottom: 0
    }
    .storeLocator-container {
        padding-bottom: 270px
    }
}

#wrapper { position: relative; }
   #show-store-info{   
       float: right;
    width: calc(100% - 50px);
    margin-top: -20px;
       }
   #over_map { 
background: url(https://i1.lmsin.net/website_images/ae/icons/ic-loc-selected.svg) no-repeat #fff;
    width: 50%;
    background-size: 35px;
    position: absolute;
    width: calc(60% - 110px);
    bottom: 30px;
    right: -80%;
    padding: 20px;
    box-shadow: 0 9px 18px 0 rgba(60, 70, 77, 0.06);
    border-radius: 2px;
    background-position: 20px 20px;
    margin-right: 717px;
    border: 1px solid #ebebeb;
}

#over_map .close {
    background: url(https://i1.lmsin.net/website_images/ae/icons/close_black.svg) no-repeat #fff;
    cursor: pointer;
    background-size: 12px 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
    display: block;
    }
    html, body {
		width: 100%;
		height: 100%;
	}

	.wrapper-test {
		position: relative;
		width: 100%;
		height: 100%;
    }
    #mapRegion {
        /* margin-top: -25px !important; */
    }
    .content-test {
			/* background-image: url(imagefiles/...png); */
			background-repeat: no-repeat;
			background-position: 0 0;
            height: 208px;
            position: absolute;
			left: 0;
			bottom: 0;
			z-index: 2;    
        }
        
        .storeLocator-storesList .storeLocator-activeShop {
            background: #ebebeb;
        }        