
html[dir="rtl"] .DeliveryDetails .b-delivery_type-label::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-top: -9px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    right: 30px;
}

html[dir="rtl"] .DeliveryDetails .b-delivery_type-header {
    display: block;
    position: relative;
    padding: 20px 65px 20px 65px;
    color: rgb(51, 51, 51);
}

html[dir="rtl"] .DeliveryDetails .b-delivery_type-label.selected::after {
    content: "";
    width: 7px;
    height: 7px;
    margin-top: -5px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    top: 50%;
    right: 34px;
}


.DeliveryDetails .l-checkout .b-order_summary {
    width: 380px;
    float: right;
}

.DeliveryDetails .b-order_summary .b-accordion_wrapper {
    position: relative;
    margin: 0;

        padding: 0;
}

.DeliveryDetails .b-accordion_title {
    margin-bottom: 15px;
    color: rgb(13, 148, 63);
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 15px;
    line-height: 1;
    text-transform: capitalize;
    font-family: Arial, sans-serif;
}

.DeliveryDetails .b-order_summary-header {
    padding: 15px 0;
}

.DeliveryDetails .b-order_summary-header.b-accordion_title {
    margin-bottom: 0px;
}

.DeliveryDetails .b-accordion_title,
.DeliveryDetails .b-confirm_title,
.DeliveryDetails .b-request_catalogue .b-request_carousel-name,
.DeliveryDetails .b-request_catalogue-description h3,
.DeliveryDetails .b-request_catalogue-description p,
.DeliveryDetails .b-tabs-menu_link {
    font-family: elc_bold;
}

.b-order_summary-wrap {
    margin: 0px 0px 0px;
}

.b-order_summary-wrap::after {
    content: "";
    display: table;
    clear: both;
}

h3 {
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 18px;
    line-height: 22px;
}


	  @media only screen and (max-width: 640px){
	  h3 {
	  margin:0;
	  line-height: 21px;
          font-size: 0.8em;
    }
}

.b-order_summary-title {
    float: left;
    color: #000000;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 18px;
    line-height: 30px;
    font-family: Arial, sans-serif;
}

.b-order_component-title.b-accordion_title,
.b-order_summary-title {
    /*font-family: elc_bold;*/
}


.b-order_summary-header .b-order_edit {
    float: right;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 11px;
    line-height: 30px;
    font-family: Arial, sans-serif;
    text-decoration: underline;
}

.b-order_summary-header .b-order_summary-items {
    color: rgb(51, 51, 51);
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, sans-serif;
}

.b-order_summary-items {
    display: block;
    width: 100%;
}

.b-order_summary-header .b-order_summary-items span {
    font-weight: 700;
}

.hidden {
    display: none;
}

.i-arrow_up::before {
    content: "?";
}

.b-accordion_container a {
    color: rgb(51, 51, 51);
    font-size: 12px;
}

.b-order_summary .b-scroll_btn {
    color: rgb(13, 148, 63);
}

.b-order_summary .b-scroll_btn {
    font-size: 15px;
}

.b-order_summary .b-scroll_btn.m-top {
    top: 77px;
}

.b-scroll_btn {
    display: block;
    margin-left: -5px;
    color: rgb(13, 148, 63);
    position: absolute;
    top: 50px;
    left: 50%;
}

.b-scroll_btn.m-disabled {
    color: rgb(214, 214, 214);
}

.b-scroll_btn.m-disabled::after {
    width: 100%;
    height: 100%;
    background: 0px 0px;
    content: "";
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
}

.b-scroll_btn.hidden {
    display: none;
}

.mCustomScrollbar {
    touch-action: pinch-zoom;
}

.mCustomScrollbar.mCS_no_scrollbar,
.mCustomScrollbar.mCS_touch_action {
    touch-action: auto;
}

.b-order_summary-products {
    max-height: 440px;
    padding: 0px 30px 0px 20px;
    overflow: hidden;
}

.b-order_summary-products.mCustomScrollbar {
    padding: 24px 0px 55px;
    overflow-y: auto;
}

.b-order_summary-products.mCustomScrollbar.mCS_no_scrollbar {
    padding: 0px;
    border-bottom: 0px;
}

.mCustomScrollBox {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: 0px;
    direction: ltr;
}

.mCustomScrollBox {
    padding: unset;
}

.b-order_summary-products.mCustomScrollbar .mCustomScrollBox {
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
}

.b-order_summary-products.mCustomScrollbar.mCS_no_scrollbar .mCustomScrollBox {
    border-bottom: none;
}

.mCSB_container {
    overflow: hidden;
    width: auto;
    height: auto;
}

.mCSB_inside>.mCSB_container {
    margin-right: 30px;
}

.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-right: 0px;
}

.mCustomScrollBox .mCSB_container {
    margin-right: 0px;
}

.b-order_summary-products .b-minicart_product {
    padding: 10px;
}

.b-minicart_product {
    padding: 15px 0px 10px;
    border-bottom: 1px dashed rgb(214, 214, 214);
}

.b-minicart_product::after {
    content: "";
    display: table;
    clear: both;
}

.b-minicart_product .b-minicart_image {
    width: 115px;
    padding: 0px 20px 10px 0px;
    float: left;
    text-align: center;
}

embed,
img,
object {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.b-minicart_title {
    display: block;
    margin-bottom: 12px;
    transition: all 0.3s ease;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1;
    font-family: Arial, sans-serif;
    letter-spacing: 0.8px;
    text-align: left;
    text-transform: uppercase;
}

.b-minicart_right {
    padding: 0 0 0 66px;
    float: left;
}

.b-minicart_title:hover {
    color: #000000;
    text-decoration: none;
}

.b-minicart_left {
    transition: all .3s ease;
    color: #000000;
    position: absolute;
    top: auto;
    /* left: 0; */
    margin: 10px 10px 0 10px;
}

.b-minicart_left:before {
    font-size: 40px;
    font-family: font-apex!important;
}

.b-minicart_left:before {
    content: "\f291";
}

.b-minicart_product .b-minicart_title {
    margin: 0px 0px 10px;
    padding: 0px 0px 0px 0px;
    letter-spacing: normal;
    text-transform: none;
}

.b-minicart_title {
    color: #000000;
    font-family: elc_bold;
}

.b-order_summary-products .b-minicart_title a:focus,
.b-order_summary-products .b-minicart_title a:hover {
    text-decoration: none;
}

.b-minicart_product .b-minicart_title a {
    color: rgb(51, 51, 51);
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 13px;
    line-height: 20px;
    font-family: Arial, sans-serif;
}

.b-minicart_availability {
    display: block;
    margin-bottom: 7px;
    color: rgb(246, 50, 62);
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 12px;
    line-height: 16px;
    font-family: Arial, sans-serif;
}

.b-minicart_product .b-minicart_availability {
    padding: 0px 0px 0px 115px;
}

.b-order_summary-products .b-minicart_product .b-minicart_attributes {
    display: block;
}

.b-minicart_product .b-minicart_attributes {
    display: none;
    margin: 0px 0px 10px;
    padding: 0px 0px 0px 115px;
}

.b-order_summary .b-minicart_item-price {
    display: none;
}

.b-minicart_item-price {
    margin: 0px 0px 5px;
    padding: 0px 0px 0px 115px;
    color: rgb(179, 179, 179);
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 12px;
    line-height: 20px;
    font-family: Arial, sans-serif;
    text-align: right;
}

.b-minicart_item-price span.m-label {
    float: left;
    text-transform: capitalize;
}

.b-minicart_item-price span.m-value {
    color: rgb(13, 148, 63);
    font-size: 16px;
    font-weight: 700;
}

.b-order_summary .b-minicart_product .b-minicart_pricing {
    padding: 10px 0px 0px 0px;
    line-height: 22px;
}

.b-minicart_product .b-minicart_pricing {
    padding: 0px 0px 0px 115px;
    color: rgb(179, 179, 179);
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 12px;
    line-height: 20px;
    font-family: Arial, sans-serif;
}

.b-minicart_product .b-minicart_pricing span.m-label {
    text-transform: uppercase;
}

.b-minicart_product .b-minicart_pricing span.m-value {
    color: rgb(51, 51, 51);
}

.b-order_summary .b-minicart_product .b-minicart_pricing .b-minicart_price {
   float: right;
    color: #3d464d;
    font-weight: 600;
    font-size: 13px;
}

.b-minicart_price {
    display: inline-block;
    min-width: 75px;
    color: #000000;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 18px;
    line-height: 20px;
    font-family: Arial, sans-serif;
    letter-spacing: 0.5px;
    padding-left: 5px;
}

.b-minicart_product .b-minicart_pricing .b-minicart_price {
    display: block;
    color: #000000;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-stretch: normal;
    font-size: 20px;
    line-height: 24px;
    font-family: Arial, sans-serif;
    text-align: left;
}

.b-minicart_price {
    font-family: elc_bold;
}

.b-order_summary .b-minicart_product .b-minicart_pricing .b-minicart_price .m-price_floor {
    font-size: 13px;
}

.b-minicart_product .b-minicart_pricing .b-minicart_price .m-price_floor {
    font-size: 20px;
}

.b-minicart_price .m-price_dot {
    padding: 0px;
}

.b-minicart_product:last-child {
    padding-bottom: 0px;
    border: none;
}

.mCSB_scrollTools {
    position: absolute;
    width: 16px;
    height: auto;
    left: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight,
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.mCSB_scrollTools {
    opacity: 0.75;
}

.mCS-autoHide:hover>.mCustomScrollBox>.mCSB_scrollTools,
.mCS-autoHide:hover>.mCustomScrollBox~.mCSB_scrollTools,
.mCustomScrollBox:hover>.mCSB_scrollTools,
.mCustomScrollBox:hover~.mCSB_scrollTools,
.mCustomScrollbar>.mCustomScrollBox>.mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollbar>.mCustomScrollBox~.mCSB_scrollTools.mCSB_scrollTools_onDrag {
    opacity: 1;
}

.mCustomScrollBox .mCSB_scrollTools {
    right: 0px;
}

.mCSB_scrollTools .mCSB_draggerContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: auto;
}

.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerContainer {
    top: 28px;
    bottom: 28px;
}

.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerContainer::before {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(214, 214, 214);
    border-image: initial;
    position: absolute;
    top: -17px;
    right: 3px;
}

.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerContainer::after {
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(214, 214, 214) transparent transparent;
    border-image: initial;
    position: absolute;
    right: 3px;
    bottom: -17px;
}

.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 100%;
    height: 30px;
    z-index: 1;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    position: relative;
    width: 4px;
    height: 100%;
    margin: 0px auto;
    border-radius: 16px;
    text-align: center;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgb(255, 255, 255);
    opacity: 0.75;
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: rgb(255, 255, 255);
    opacity: 0.85;
}

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
}

.mCustomScrollBox .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 10px;
    border-radius: 0px;
    background: rgb(239, 239, 239);
}

.mCSB_scrollTools .mCSB_draggerRail {
    width: 2px;
    height: 100%;
    margin: 0px auto;
    border-radius: 16px;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
}

.mCustomScrollBox .mCSB_scrollTools .mCSB_draggerRail {
    background: 0px 0px;
}

.i-arrow_down::before {
    content: "?";
}

.b-order_summary .b-scroll_btn.m-bottom {
    top: 490px;
}

.b-scroll_btn.m-bottom {
    top: 402px;
}

.b-order_summary-totals {
    padding: 15px 2px;
    border-top: 1px solid rgb(214, 214, 214);
}























.b-order_summary .b-order_total {
    font-size: 16px;
}





.alertify-logs {
    position: fixed;
    z-index: 1001 !important;
}


.t-Cards--basic .t-Card-titleWrap {
    display: block;
    padding: 12px 60px 12px 16px;
    height: 41px;
    overflow: hidden;
    box-shadow: 0 -1px 0 rgba(0,0,0,.05) inset;
}




@media only screen and (max-width: 767px){
.DeliveryDetails .b-accordion_container {
    display: block !important;
    padding: 10px 0;
}
}

@media only screen and (max-width: 767px){
html[dir=rtl] .b-accordion_title:before, html[lang=en] .b-accordion_title:before {
    display:none !important;
}
}



html[dir="rtl"] .intl-tel-input .selected-flag {
    z-index: 1;
    position: relative;
    width: 36px;
    height: 100%;
    padding: 0 8px 0 0
}

html[dir="rtl"] .intl-tel-input .selected-flag .iti-arrow {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 6px !important;
    right: unset;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555
}

html[dir="rtl"] .intl-tel-input.allow-dropdown .flag-container {
    right: 0;
    left: auto;
}

html[dir="rtl"] .intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
    display: table-cell;
    vertical-align: middle;
    padding-right: 28px
}

html[dir="rtl"] .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input,
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type=text],
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type=tel] {
    padding-right: 92px
}

html[dir="rtl"] .intl-tel-input.iti-container {
    position: absolute;
    top: -1000px;
    left: -1000px;
    z-index: 1060;
    padding: 1px;
    width: auto;
    right:0;
}

html[dir="rtl"] .intl-tel-input .country-list {
    position: relative;
    z-index: 2;
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
}

.alertify-logs.top {
    top: 100px;
}

html[dir="rtl"] .intl-tel-input .selected-flag {
    z-index: 1;
    position: relative;
    width: 36px;
    height: 100%;
    padding: 0 8px 0 0
}

html[dir="rtl"] .intl-tel-input .selected-flag .iti-arrow {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 6px !important;
    right: unset;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #555
}

html[dir="rtl"] .intl-tel-input.allow-dropdown .flag-container {
    right: 0;
    left: auto;
}

html[dir="rtl"] .intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
    display: table-cell;
    vertical-align: middle;
    padding-right: 28px
}

html[dir="rtl"] .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type=tel] {
    padding-right: 36%;
    width: 100%;
    padding-top: 10%;
}

.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type=tel] {
    padding-right: 0%;
    width: 100%;
    padding-top: 8%;
}

html[dir="rtl"] .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input,
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 input[type=text] {
    padding-right: 36%;
    width: 100%;
    padding-top: 10%;
}

html[dir="rtl"] .intl-tel-input.iti-container {
    position: absolute;
    z-index: 1060;
    padding: 1px;
    width: auto;
}

html[dir="rtl"] .intl-tel-input .country-list {
    position: relative;
    z-index: 2;
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .intl-tel-input {
    width: auto !important;
}
}

.add-black{
    background-color: #000;
    fill: #000;
}
.add-green{
    background-color: #008000 !important;
    fill: #008000 !important;
}
.add-grey{
    background-color: #888888;
    fill: #888888;
}


.shipping-tabs .tab {
        width: 48%;
    float: left;
    border: solid 1px #dae0e1;
    border-radius: 2px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    color: #969ca0;
    cursor: pointer;
    margin: 1%;}

.shipping-tabs .tab.selected {
    border: solid 2px #faced7;
color: #000;
}


@media (min-width: 768px)
{
.section-intro {
    font-weight: 500;
    float: none;
    width: 50%;
    margin: 0px;
    color: #3d464d;
    display: inline-block;
font-size : 18px;
}
}




#PRDBASKET img{
    max-width:148px;
    max-height:128px;
    width: auto;
}

td .prddesc{
    vertical-align: text-bottom;
}

td .prddesc p{
        margin: 0 0 5px;
}

td .prddesc p strong{
        color:#f599ba;
}


td .prddesc a{
        margin-top: 30px;
    display: block;
    background: #f599ba;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}


td .prdimg a{
    display: block;
    margin-right: 10px;
}


.p-price{
    font-size: 15px;
    color: #f599ba;
}
.p-price-saving{
        font-size: 11px;
    color: #000000;
}
table .qty{
        height: 128px;
    width:100%
}

td .price{
    text-align: right;
    vertical-align: top;
}
#PRDBASKET td .price{
    text-align: center;
    vertical-align: top;
}
#PRDBASKET td .price .p-price {
    font-size: 20px;
    color: #f599ba;
}
#PRDBASKET td .qtyid{
    text-align: center;
    vertical-align: top;
    display: block;
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    #P3_STOCK_CONTAINER span#P3_STOCK{
        padding:10px 0 !important;
    }
}

table .qty td input{
            height:50px;
            width:50px;
            text-align:center;
}

.t-Report-cell{
    vertical-align: top;
}

.find-store_hide{visibility:hidden;height:0}

.t-Wizard-body {
    display:none;
}

.find-store_show{visibility:initial;-webkit-animation-delay:2s;height:auto}

input#p_P7_PHONE {
    width: auto !important;
}

#mobile-buttons div.row{
    display:flex;
}

#mobile-buttons div.col.col-10 {
    width: 100% !important;
}

#mobile-buttons button {
    margin: 0 !important;
    border-radius:0;
}


#mobile-buttons div.col.col-10 {
    width: 100% !important;
    padding-left: 0px;
}
#mobile-buttons div.col.col-2 {

    padding-right: 0px;
}
.containers {
   width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: inherit;
}

.t-instruction, .t-subheading {
    font-family: elc_bold;
    font-weight: 400;
    color: #000;
    
}
.b-delivery_box-description {
    margin: 0 0 20px;
    color: #333;
    font: 400 13px/20px Arial,sans-serif;
}
.t-subheading {
    margin: 20px 0 7px;
    font: 700 18px/1 Arial,sans-serif;
}

.b-delivery_type-label {
    position: relative;
    padding: 0px;
    color: rgb(51, 51, 51);
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 13px;
    line-height: 20px;
    font-family: Arial, sans-serif;
  }
  
  .b-delivery_type-label::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-top: -9px;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 30px;
  }
  
  .b-delivery_type-label.selected {
        background-color: rgb(239, 239, 239);
  }
  
  .b-delivery_type-label.selected::after {
    content: "";
    width: 7px;
    height: 7px;
    margin-top: -5px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 34px;
  }
  
  .b-delivery_type-label.selected::before {
    border-color: rgb(179, 179, 179);
  }
  
  a {
    background: 0px 0px;
  }
  
  a:active,
  a:hover {
    outline: 0px;
  }
  
  .g-button-link,
  a {
    outline: 0px;
    color: #000;
    text-decoration: none;
  }
    
  a {
    color: #000;
  }
  
  .b-delivery_box-type.m-click_collect .b-delivery_type-header {
    position: relative;
    padding-left: 115px;
  }
  
  .b-delivery_box-type.m-click_collect .b-delivery_type-header::before {
    content: "\e126";
    margin-top: -11px;
    color: rgb(13, 148, 63);
    font-size: 33px;
    position: absolute;
    top: 50%;
    left: 65px;
  }
  
  .b-delivery_type-header {
    display: block;
    position: relative;
    padding: 20px 15px 20px 65px;
    color: rgb(51, 51, 51);
  }
  
  .b-delivery_type-header:focus,
  .b-delivery_type-header:hover {
    text-decoration: none;
  }
  
  .b-delivery_type-label span.m-label {
    display: block;
    padding: 0px 0px 5px;
    color: #000;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    font-stretch: normal;
    font-size: 15px;
    line-height: 20px;
    font-family: Arial, sans-serif;
  }
  
  @media only screen and (max-width: 1199px) {
    .b-delivery_box-type.m-click_collect .b-delivery_type-header {
      padding-left: 80px;
    }
  }
  
  @media only screen and (max-width: 1199px) {
    .b-delivery_type-header {
      padding-left: 45px;
    }
  }
  
  @media only screen and (max-width: 1199px) {
    .b-delivery_type-label span.m-label {
      font-size: 14px;
      line-height: 16px;
    }
  }
  
  @media only screen and (max-width: 1199px) {
    .b-delivery_type-label span.m-value {
      font-size: 12px;
    }
  }
  .newsletter {margin:0 30px;font-family: 'Roboto', sans-serif;font-weight:500;}

.input {width:100%;height:54px;line-height: 1.42857143;padding-left: 35px;color:#333;text-transform: uppercase;font-size: 0.8125em;letter-spacing: 0.075em;border:1px solid #d6d6d6;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline: 0;}


.btnEnviar {
        background: #000;
    color: #fff;
    line-height: 1.33;
    font-size: 1.0625em;
    display: inline-block;
    padding: 15px 20px;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #000;
    letter-spacing: 0.075em;
    width: 100%;
    height: 54px;
    cursor: pointer;
}
.btnEnviar:hover {background:#e41111;transition:all 0.4s ease-out}


.form-input,.form-button {display: inline-block;float:left;}
.form-input {width:85%;}
.form-button {width:15%;}

.divHib {
  display:block;
  position:absolute;
  left:43%;
  bottom:10%;
}
.hibrido {
  text-align:center;
  letter-spacing: 0.05em;
  bottom:0;
  font-family:'Lato';
  text-transform:uppercase;
  color:rgb(204, 80, 80);
  text-decoration:none;
  font-size:0.9em;
}

.b-newsletter_subscribe-label {
    /* display: inline-block; */
    margin: 2px 18px 0 0;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

.b-newsletter_subscribe-label_value {
    display: block;
    margin-top: 8px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.t-Form-itemText {
    line-height: 2rem !important;
    font-size: 1.2rem;
}

#wrapper { position: relative; }
   #show-store-info{   
       float: right;
    width: calc(100% - 50px);
    margin-top: -20px;
       }
   #over_map { 
background: url(https://i1.lmsin.net/website_images/ae/icons/ic-loc-selected.svg) no-repeat #fff;
    width: 50%;
    background-size: 35px;
    position: absolute;
    width: calc(60% - 110px);
    bottom: 30px;
    right: -80%;
    padding: 20px;
    box-shadow: 0 9px 18px 0 rgba(60, 70, 77, 0.06);
    border-radius: 2px;
    background-position: 20px 20px;
    margin-right: 717px;
    border: 1px solid #ebebeb;
}
       #over_map .close {
              background: url(https://i1.lmsin.net/website_images/ae/icons/close_black.svg) no-repeat #fff;
    cursor: pointer;
    background-size: 12px 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
    display: block;
       }

       html, body {
        width: 100%;
        height: 100%;
      }

      .wrapper-test {
        position: relative;
        width: 100%;
        height: 100%;
      }



      .content-test {
        
          background-repeat: no-repeat;
          background-position: 0 0;
          height: 208px;
            
          z-index: 2;
      }

      .new-float-add-bag {
        background: #fff;
    }
    
    
    
    .float-add-bag .float-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }
    .float-add-bag .float-nav .new-wish>div {
        margin-bottom: .173333rem;
    }
    .float-add-bag .float-nav .new-wish>div i {
            font-size: 2em;
        color: #f599bb;
    }
    .float-add-bag .float-nav .new-wish span {
           position: absolute;
        color: #fff;
        background-color: #f599ba;
        left: 50%;
        bottom: 50%;
        font-size: .7em;
        height: 1.8em;
        line-height: 1.8em;
        min-width: 1.8em;
        padding: 0 .2em;
        text-align: center;
        border-radius: 50%;
    }
    .float-add-bag .float-nav .new-wish {
        width: 7.066666rem;
        text-align: center;
    }
    .new-float-add-bag .float-nav .float-addbag-btn {
        background-color: #f599bb;
        border-radius: 2px;
        color: #fff;
        font-size: 20px;
        text-align: center;
        height: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        line-height: 5rem;
        font-weight: 300;    
    }
    
    
    .float-add-bag .float-nav a {
        position: relative;
    }

   

.fch{
font-style: unset;
font-variant: unset;
font-size: 1.3em;
line-height: unset;
letter-spacing: unset;
text-transform: unset;
font-weight: 100;
margin-bottom: 15px;
font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
}

h1.h1p,h2.h2p,h3.h3p {
font-size: 1em !important;
    margin-bottom: 1em !important;
    line-height: 1.4em !important;
    font-weight :bold !important;
  }

  .b-footer_middle {
    padding: 28px 0 28px 0;
}
.collapse-a {
    display: block!important;
}
.b-main_carousel,
.g-wrapper-main_content,
.ui-dialog.m-cookie_privacy {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 0px;
}

.b-footer_navigation::after {
    content: "";
    display: table;
    clear: both;
}

html[lang="en"] .b-footer_navigation .b-accordion_wrapper {
    width: 20%;
    float: left;
    margin-left: 0px;
    text-align: left;
}

html[dir="rtl"] .b-footer_navigation .b-accordion_wrapper {
    width: 20%;
    float: right;
    margin-right: 0px;
    text-align: right;
}

html[lang="en"] .b-accordion_title {
    margin-bottom: 15px;
    color: #f693b9;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: normal;
          font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;
}
      
html[dir="rtl"] .b-accordion_title {
    margin-bottom: 15px;
    color: #f693b9;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-transform: uppercase;
    font-weight: normal;
          font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;
}

ol,
ul {
    list-style: none;
}

.b-accordion_container li {
    margin-bottom: 5px;
}

.b-accordion_container a {
    color: #000;
    font-size: 12px;
}

.b-footer_navigation .b-accordion_container a {
          letter-spacing: 0.05rem;
    
}

.b-footer_navigation .navigation_wrapper_2 {
    width: 22%;
}

.b-footer_navigation .navigation_wrapper_4 {
    width: 32%;
}

.b-footer_navigation .b-accordion_container.m-websites {
    columns: auto 2;
}

.b-footer_navigation-catalogue_wrap {
    margin-top: 23px;
    padding-top: 45px;
    border-top: 1px solid rgb(231, 231, 231);
}

.b-footer_navigation .b-accordion_container.m-catalogue {
    position: relative;
    padding-left: 73px;
}

.i-small_arrow::before {
    content: "";
}

.b-footer_navigation .b-accordion_container.m-catalogue a {
    display: inline-block;
    position: relative;
    padding-right: 19px;
    color: #363534;
    font-size: 13px;
}

a.Applogo {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) 0px -53px no-repeat;
    width: 150px;
    height: 48px;
}
a.Appstore {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) -159px -104px no-repeat;
    width: 150px;
    height: 53px;
}
a.Acregister {
    background: url(https://storage.googleapis.com/nay/icons/amirah-logo_sprite.png) 37px 0px no-repeat;
    width: 121px;
    height: 95px;
}
      
html[dir="rtl"] a.Register {
    background: url(https://storage.googleapis.com/nay/icons/amirah-logo_sprite.png) -80px -3px no-repeat !important;
    width: 121px;
    height: 95px;
}

html[dir="rtl"] a.applogo {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) 0px -53px no-repeat;
    width: 150px;
    height: 48px;
}
html[dir="rtl"] a.appStore {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) -159px -104px no-repeat;
    width: 150px;
    height: 53px;
}      
      
@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_middle {
        padding: 30px 0px 17px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_middle {
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    .b-main_carousel,
    .g-wrapper-main_content,
    .ui-dialog.m-cookie_privacy {
        min-width: 320px;
        max-width: 767px;
        padding: 0px 10px;
    }
}

@media print {
    .b-main_carousel,
    .g-wrapper-main_content,
    .ui-dialog.m-cookie_privacy {
        padding: 0px !important;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: 100% !important;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper:first-child {
        border-top: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .navigation_wrapper_2 {
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .navigation_wrapper_4 {
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media only screen and (max-width: 1199px) {
    .b-footer_navigation .b-accordion_container.m-websites {
        columns: auto 1;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) {
    .b-footer_navigation-catalogue_wrap {
        margin-top: 20px;
        padding-top: 0px;
        border-top: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation-catalogue_wrap {
        max-width: none;
        margin: 0px -10px;
        padding: 22px 0px 5px;
        border-top: 1px solid rgb(231, 231, 231);
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue {
        padding-left: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container.m-catalogue {
        display: block;
        width: 210px;
        margin: 0px auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        text-transform: lowercase;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        text-transform: lowercase;
    }
}
      
      
     
.storeLocator-container {
    position: relative;
    background: #fff
}

.storeLocator-container * {
    box-sizing: border-box
}

.storeLocator-map {
    border: 1px solid #d7d7d7;
    background-color: #e5e3df;
    height: 500px
}

.storeLocator-infoWindow {
    max-width: 200px
}

.storeLocator-infoWindow h4 {
    margin: 0 0 5px;
    padding: 0;
	color: #fb0000;
}

.storeLocator-searchBox {
    border: 1px solid #d7d7d7;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: absolute;
    top: 15px;
    bottom: 30px;
    left: 10px;
    width: 40%;
    background: #fff;
    z-index: 1
}

.storeLocator-storesList {
    border: 1px solid #d7d7d7;
    list-style: none;
    overflow: auto;
    margin: 0;
    padding: 0
}

.storeLocator-storesList li {
    background: #f8f8f8;
    color: #333;
    padding: 15px;
    margin: 0 0 1px;
    transition: 'background' .2s ease;
    position: relative
}



.storeLocator-storesList .storeLocator-activeShop {
    background: #ebebeb
}

.storeLocator-storesList li h4 {
    margin: 0 0 5px;
    font-size: 14px;
	color:#000000;
}

.storeLocator-storesList li address {
    margin: 0 0 10px
}

.storeLocator-searchInput {
    border: 1px solid #d7d7d7;
    position: relative;
    margin-bottom: 10px
}

.storeLocator-searchInput input {
    border: 0;
    background: #fff;
    line-height: 36px;
    height: 36px;
    width: 100%;
    padding: 0 36px 0 15px;
    font-size: 14px;
    outline: none
}

.storeLocator-searchIcon {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 16px
}

.storeLocator-searchHint {
    margin-bottom: 10px;
    padding: 0 2px;
    font-size: 14px;
    color: #696969
}

.storeLocator-storeActions {
    text-transform: uppercase;
    font-size: 13px
}

.storeLocator-storeActions a {
    margin-right: 10px;
    text-decoration: none;
    color: #999;
    transition: color .2s ease
}

.storeLocator-storeActions a:hover {
    color: #000
}

.storeLocator-storeActions a:hover svg {
    fill: #000
}

.storeLocator-storeActions a svg {
    vertical-align: middle;
    margin-right: 3px;
    fill: #999;
    transition: fill .2s ease
}

.storeLocator-storeDistance {
    color: #999;
    font-size: 14px;
    margin-bottom: 5px
}

@media (max-width:767px) {
    .storeLocator-searchBox {
        padding: 10px;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: auto;
        width: auto
    }
    .storeLocator-storesList {
        position: absolute;
        top: 350px;
        left: -11px;
        right: -11px;
        height: 250px
    }
    .storeLocator-map {
        height: 350px
    }
    .storeLocator-searchHint {
        display: none
    }
    .storeLocator-searchInput {
        margin-bottom: 0
    }
    .storeLocator-container {
        padding-bottom: 270px
    }
}

