.b-delivery_type-label {
  position: relative;
  padding: 0px;
  color: rgb(51, 51, 51);
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 13px;
  line-height: 20px;
  font-family: Arial, sans-serif;
}

.b-delivery_type-label::before {
  content: "";
  width: 15px;
  height: 15px;
  margin-top: -9px;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 30px;
}

.b-delivery_type-label.selected {
      background-color: rgb(239, 239, 239);
}

.b-delivery_type-label.selected::after {
  content: "";
  width: 7px;
  height: 7px;
  margin-top: -5px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 34px;
}

.b-delivery_type-label.selected::before {
  border-color: rgb(179, 179, 179);
}

a {
  background: 0px 0px;
}

a:active,
a:hover {
  outline: 0px;
}

.g-button-link,
a {
  outline: 0px;
  color: #000;
  text-decoration: none;
}

.g-button-link:focus,
.g-button-link:hover,
a:focus,
a:hover {
  text-decoration: underline;
}

a {
  color: #000;
}

.b-delivery_box-type.m-click_collect .b-delivery_type-header {
  position: relative;
  padding-left: 115px;
}

.b-delivery_box-type.m-click_collect .b-delivery_type-header::before {
  content: "\e126";
  margin-top: -11px;
  color: rgb(13, 148, 63);
  font-size: 33px;
  position: absolute;
  top: 50%;
  left: 65px;
}

.b-delivery_type-header {
  display: block;
  position: relative;
  padding: 20px 15px 20px 65px;
  color: rgb(51, 51, 51);
}

.b-delivery_type-header:focus,
.b-delivery_type-header:hover {
  text-decoration: none;
}

.b-delivery_type-label span.m-label {
  display: block;
  padding: 0px 0px 5px;
  color: #000;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  font-stretch: normal;
  font-size: 15px;
  line-height: 20px;
  font-family: Arial, sans-serif;
}

@media only screen and (max-width: 1199px) {
  .b-delivery_box-type.m-click_collect .b-delivery_type-header {
    padding-left: 80px;
  }
}

@media only screen and (max-width: 1199px) {
  .b-delivery_type-header {
    padding-left: 45px;
  }
}

@media only screen and (max-width: 1199px) {
  .b-delivery_type-label span.m-label {
    font-size: 14px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 1199px) {
  .b-delivery_type-label span.m-value {
    font-size: 12px;
  }
}



.newsletter {margin:0 30px;font-family: 'Roboto', sans-serif;font-weight:500;}

.input {width:100%;height:54px;line-height: 1.42857143;padding-left: 35px;color:#333;text-transform: uppercase;font-size: 0.8125em;letter-spacing: 0.075em;border:1px solid #d6d6d6;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;outline: 0;}


.btnEnviar {
        background: #000;
    color: #fff;
    line-height: 1.33;
    font-size: 1.0625em;
    display: inline-block;
    padding: 15px 20px;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #000;
    letter-spacing: 0.075em;
    width: 100%;
    height: 54px;
    cursor: pointer;
}
.btnEnviar:hover {background:#e41111;transition:all 0.4s ease-out}


.form-input,.form-button {display: inline-block;float:left;}
.form-input {width:85%;}
.form-button {width:15%;}

.divHib {
  display:block;
  position:absolute;
  left:43%;
  bottom:10%;
}
.hibrido {
  text-align:center;
  letter-spacing: 0.05em;
  bottom:0;
  font-family:'Lato';
  text-transform:uppercase;
  color:rgb(204, 80, 80);
  text-decoration:none;
  font-size:0.9em;
}

.b-newsletter_subscribe-label {
    /* display: inline-block; */
    margin: 2px 18px 0 0;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    vertical-align: top;
}

.b-newsletter_subscribe-label_value {
    display: block;
    margin-top: 8px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.t-Form-itemText {
    line-height: 2rem !important;
    font-size: 1.2rem;
}

#wrapper { position: relative; }
#show-store-info{   
    float: right;
 width: calc(100% - 50px);
 margin-top: -20px;
    }
#over_map { 
background: url(https://i1.lmsin.net/website_images/ae/icons/ic-loc-selected.svg) no-repeat #fff;
 width: 50%;
 background-size: 35px;
 position: absolute;
 width: calc(60% - 110px);
 bottom: 30px;
 right: -80%;
 padding: 20px;
 box-shadow: 0 9px 18px 0 rgba(60, 70, 77, 0.06);
 border-radius: 2px;
 background-position: 20px 20px;
 margin-right: 717px;
 border: 1px solid #ebebeb;
}
    #over_map .close {
           background: url(https://i1.lmsin.net/website_images/ae/icons/close_black.svg) no-repeat #fff;
 cursor: pointer;
 background-size: 12px 12px;
 position: absolute;
 top: 10px;
 right: 10px;
 width: 12px;
 height: 12px;
 display: block;
    }

	html, body {
        width: 100%;
        height: 100%;
      }

      .wrapper-test {
        position: relative;
        width: 100%;
        height: 100%;
      }



      .content-test {
          background-image: url(imagefiles/...png);
          background-repeat: no-repeat;
          background-position: 0 0;
          height: 208px;
          z-index: 2;
      }