@media only screen and (max-width: 767px) {
    .vou_txt_w {
        width:100%;
    }
}

#PRDBASKET .Cart img {
    max-width: 97px;
    max-height: 199px;
}

td .prddesc{
    vertical-align: text-bottom;
}


td .prddesc h2{
    vertical-align: text-bottom;
    font-size: 1.4rem;
}

td .prddesc p{
        margin: 0 0 5px;
}

td .prddesc p strong{
        color:#f599ba;
}


td .prddesc a{
        margin-top: 20px;
    display: block;
    background: #f4f4f4;
    color: #000;
    padding: 5px;
    text-decoration: none;
    border: 1px solid #e1e1e1;
    text-align: center;
    border-radius: 26px;
}


td .prdimg a{
    display: block;
    margin-right: 10px;
}

html[dir="rtl"] td .prdimg a{
    display: block;
    margin-left: 10px;
}

.p-price{
    font-size: 20px;
    color: #f599ba;
}
.p-price-saving{
        font-size: 11px;
    color: #000000;
}
table .qty{
        height: 150px;
}

td .price{
            text-align: center;
    vertical-align: top;
}

table .qty td input{
            height:50px;
            width:50px;
            text-align:center;
}


@media only screen and (max-width: 640px){
#PRDBASKET img {
    max-width: 80px;
}
td .prddesc h2 {
    vertical-align: text-bottom;
    font-size: 1.4rem;
    margin: 0;
}

td .prddesc p {
    margin: 0;
    font-size: 11px;
}

td .prddesc a {
    margin-top: 20px;
    display: block;
    background: #f4f4f4;
    color: #000;
    padding: 5px;
    text-decoration: none;
    border: 1px solid #e1e1e1;
    text-align: center;
    border-radius: 26px;
}

table .qty {
    height: 126px;
}

td .price {
    text-align: center;
    vertical-align: bottom;
    margin: 0;
}

}

td .qtyid{
vertical-align: top;
    display: flex;
}

#mobile-buttons div.row{
    display:flex;
}

#mobile-buttons div.col.col-10 {
    width: 100% !important;
}

#mobile-buttons button {
    margin: 0 !important;
    border-radius:0;
}


#mobile-buttons div.col.col-10 {
    width: 100% !important;
    padding-left: 0px;
}
#mobile-buttons div.col.col-2 {

    padding-right: 0px;
}

.subtotal{
    background: #f4f4f4;
    min-height:400px;
}
@media only screen and (max-width: 640px){
.subtotal{
    background: #f4f4f4; min-height:auto !important;

}
}



.u-RTL .t-Region--noPadding .t-Report--horizontalBorders .t-Report-report tr .t-Report-cell:first-child, .u-RTL .t-Region--noPadding .t-Report--horizontalBorders .t-Report-report tr .t-Report-colHead:first-child, .u-RTL .t-Report--inline .t-Report-report tr .t-Report-cell:first-child, .u-RTL .t-Report--inline .t-Report-report tr .t-Report-colHead:first-child {
    border-left-width: 1px;
    border-right-width: 0;
}
.u-RTL .t-Region--noPadding .t-Report--horizontalBorders .t-Report-report tr .t-Report-cell:last-child, .u-RTL .t-Region--noPadding .t-Report--horizontalBorders .t-Report-report tr .t-Report-colHead:last-child, .u-RTL .t-Report--inline .t-Report-report tr .t-Report-cell:last-child, .u-RTL .t-Report--inline .t-Report-report tr .t-Report-colHead:last-child {
    border-right-width: 0px !important;
    border-left-width: 0;
}

.new-float-add-bag {
    background: #fff;
}



.float-add-bag .float-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.float-add-bag .float-nav .new-wish>div {
    margin-bottom: .173333rem;
}
.float-add-bag .float-nav .new-wish>div i {
        font-size: 2em;
    color: #f599bb;
}
.float-add-bag .float-nav .new-wish span {
       position: absolute;
    color: #fff;
    background-color: #f599ba;
    left: 50%;
    bottom: 50%;
    font-size: .7em;
    height: 1.8em;
    line-height: 1.8em;
    min-width: 1.8em;
    padding: 0 .2em;
    text-align: center;
    border-radius: 50%;
}
.float-add-bag .float-nav .new-wish {
    width: 7.066666rem;
    text-align: center;
}
.new-float-add-bag .float-nav .float-addbag-btn {
    background-color: #f599bb;
    border-radius: 2px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 5rem;
    font-weight: 300;    
}


.float-add-bag .float-nav a {
    position: relative;
}

.moreless-button{
    float: right;
    text-decoration: none;
    cursor: pointer;
}
.fch{
font-style: unset;
font-variant: unset;
font-size: 1.3em;
line-height: unset;
letter-spacing: unset;
text-transform: unset;
font-weight: 100;
margin-bottom: 15px;
font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
}

h1.h1p,h2.h2p,h3.h3p {
font-size: 1em !important;
    margin-bottom: 1em !important;
    line-height: 1.4em !important;
    font-weight :bold !important;
  }

  .more-text {
    display:none;
   }
   .b-footer_middle {
    padding: 28px 0 28px 0;
}
.collapse-a {
    display: block!important;
}
.b-main_carousel,
.g-wrapper-main_content,
.ui-dialog.m-cookie_privacy {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 0px;
}

.b-footer_navigation::after {
    content: "";
    display: table;
    clear: both;
}

html[lang="en"] .b-footer_navigation .b-accordion_wrapper {
    width: 20%;
    float: left;
    margin-left: 0px;
    text-align: left;
}

html[dir="rtl"] .b-footer_navigation .b-accordion_wrapper {
    width: 20%;
    float: right;
    margin-right: 0px;
    text-align: right;
}

html[lang="en"] .b-accordion_title {
    margin-bottom: 15px;
    color: #f693b9;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: normal;
          font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;
}
      
html[dir="rtl"] .b-accordion_title {
    margin-bottom: 15px;
    color: #f693b9;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0em;
    text-transform: uppercase;
    font-weight: normal;
          font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;
}

ol,
ul {
    list-style: none;
}

.b-accordion_container li {
    margin-bottom: 5px;
}

.b-accordion_container a {
    color: #000;
    font-size: 12px;
}

.b-footer_navigation .b-accordion_container a {
          letter-spacing: 0.05rem;
    
}

.b-footer_navigation .navigation_wrapper_2 {
    width: 22%;
}

.b-footer_navigation .navigation_wrapper_4 {
    width: 32%;
}

.b-footer_navigation .b-accordion_container.m-websites {
    columns: auto 2;
}

.b-footer_navigation-catalogue_wrap {
    margin-top: 23px;
    padding-top: 45px;
    border-top: 1px solid rgb(231, 231, 231);
}

.b-footer_navigation .b-accordion_container.m-catalogue {
    position: relative;
    padding-left: 73px;
}

.i-small_arrow::before {
    content: "";
}

.b-footer_navigation .b-accordion_container.m-catalogue a {
    display: inline-block;
    position: relative;
    padding-right: 19px;
    color: #363534;
    font-size: 13px;
}

a.Applogo {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) 0px -53px no-repeat;
    width: 150px;
    height: 48px;
}
a.Appstore {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) -159px -104px no-repeat;
    width: 150px;
    height: 53px;
}
a.Acregister {
    background: url(https://storage.googleapis.com/nay/icons/amirah-logo_sprite.png) 37px 0px no-repeat;
    width: 121px;
    height: 95px;
}
      
html[dir="rtl"] a.Register {
    background: url(https://storage.googleapis.com/nay/icons/amirah-logo_sprite.png) -80px -3px no-repeat !important;
    width: 121px;
    height: 95px;
}

html[dir="rtl"] a.applogo {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) 0px -53px no-repeat;
    width: 150px;
    height: 48px;
}
html[dir="rtl"] a.appStore {
    background: url(https://storage.googleapis.com/nay/icons/app-store-logo.png) -159px -104px no-repeat;
    width: 150px;
    height: 53px;
}      
      
@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_middle {
        padding: 30px 0px 17px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_middle {
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    .b-main_carousel,
    .g-wrapper-main_content,
    .ui-dialog.m-cookie_privacy {
        min-width: 320px;
        max-width: 767px;
        padding: 0px 10px;
    }
}

@media print {
    .b-main_carousel,
    .g-wrapper-main_content,
    .ui-dialog.m-cookie_privacy {
        padding: 0px !important;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: 100% !important;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper:first-child {
        border-top: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .navigation_wrapper_2 {
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_wrapper {
        border: none !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_wrapper {
        width: auto;
        max-width: none;
        margin: 0px -10px -1px;
        padding: 0px 10px;
        border-top: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_wrapper {
        width: auto;
        float: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .navigation_wrapper_4 {
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_title {
        position: relative;
        margin-bottom: 0px;
        padding: 18px 25px 18px 0px;
        font-size: 14px;
        cursor: pointer;
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media only screen and (max-width: 1199px) {
    .b-footer_navigation .b-accordion_container.m-websites {
        columns: auto 1;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) {
    .b-footer_navigation-catalogue_wrap {
        margin-top: 20px;
        padding-top: 0px;
        border-top: none;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation-catalogue_wrap {
        max-width: none;
        margin: 0px -10px;
        padding: 22px 0px 5px;
        border-top: 1px solid rgb(231, 231, 231);
    }
}

@media print {
    .b-accordion_container {
        display: block !important;
    }
}

@media only screen and (max-width: 767px) {
    .b-accordion_container {
        display: none;
        padding: 10px 0px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container {
        padding: 10px 0px 13px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue {
        padding-left: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container.m-catalogue {
        display: block;
        width: 210px;
        margin: 0px auto;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        text-transform: lowercase;
    }
}

@media print {
    .b-accordion_container li {
        margin-bottom: 5px !important;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-accordion_container a {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        font-size: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .b-footer_navigation .b-accordion_container.m-catalogue a {
        text-transform: lowercase;
    }
}

.moreless-button{
    float: right;
    text-decoration: none;
    cursor: pointer;
}
.fch{
font-style: unset;
font-variant: unset;
font-size: 1.3em;
line-height: unset;
letter-spacing: unset;
text-transform: unset;
font-weight: 100;
margin-bottom: 15px;
font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
}

h1.h1p,h2.h2p,h3.h3p {
font-size: 1em !important;
    margin-bottom: 1em !important;
    line-height: 1.4em !important;
  }

.m-more-text {
    display:none;
}
@media only screen and (max-width: 640px)
{
    .Cart.t-Body-contentInner{
        overflow: hidden;
    }
    div#report_PRDBASKET .t-Report-cell{
        padding: 8px 0;
    }
    .Cart #PRDBASKET td .price .p-price{
        font-size: 19px;
    }
    div#report_PRDBASKET .t-Report-cell .qty .price {
        font-size: 15px;
        color: #f599ba;
    }
    .DeliveryDetails.container {
        overflow: hidden;
    }
}
