.products,
.feature {
    margin: 20px 0;
}

.products li,
.feature li,
.group-row li {
    display: inline-block;
    vertical-align: top;
    margin: 0px 6px 12px;
    position: relative;
}
html[dir="rtl"] .dropdown .dropbtn i
{
    margin-right: 8px;
}
.u-RTL .apex-item-group--rc input+label{
    padding-right: 2.5rem;
}
html[lang="ar"] .filters ul{
    margin-right: 2%;
}
@media (max-width: 320px){
      .products li {
        vertical-align: top;
        position: relative;
        width: 43.4% !important;
    }  
}
@media (max-width: 640px) {
    .prdcontainers {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        overflow: inherit;
    }
    .products li {
        vertical-align: top;
        position: relative;
        width: 44%;
    }
    .overlay .promo {
        top: 10%;
        position: relative;
        text-align: center;
        color: white;
    }
    .overlay .promo .desc {
        font-size: 20px;
        line-height: 21px;
        margin-top: 20px;
    }
	html[dir="rtl"] .overlay .promo strong {
		font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;
	}
    .overlay .promo strong {
        width: 155px;
        height: 24px;
        background: #fafafa;
        padding: 4px 10px;
        font-size: 10px;
        border-radius: 25px;
        font-weight: 400;
        color: #000;
        font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
    }
    .overlay .promo .link {
        margin: 12px 0;
    }
    .overlay .promo .texttwo {
        font-size: 12px;
        font-weight: lighter;
        padding: 0 0 12px 0;
        margin: 0px 0 0 0;
    }
    .overlay .promo .textone {
        font-size: 12px;
        font-weight: lighter;
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding: 12px 0px;
        margin: 0 30px 12px;
    }
    .overlay .promo .desc {
        font-size: 20px;
        line-height: 21px;
        margin-top: 20px;
    }
    .overlay .promo .basket {
        border: 1px solid;
        padding: 7px;
        border-radius: 25px;
        font-size: 15px;
    }
}

@media only screen and (min-width: 960px) {
    .products li {
        vertical-align: top;
        position: relative;
        width: 23%;
    }
}

.products li,
.feature li {
    margin: 0px 10px 16px;
}

.products li a,
.feature li a,
.group-row li a {
    display: block;
    text-align: center;
    text-decoration: none;
    outline: none;
}

.products li a>span,
.feature li a>span,
.group-row li a>span {
    position: relative;
}

em {
    font-style: normal;
}

.products li .ssf3 aside {
    margin-top: 10px;
    display: block;
}

.products li a aside {
    margin: 0px 0px 10px;
    text-align: center;
}

.products li a aside h3 {
    margin-bottom: 0px;
    display: inline;
    font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
}
html[dir="rtl"] .products li a aside h3 {
    font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;

}

html[dir="rtl"] .products li a aside p.offer strong {
    font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;

}

.products li a aside p.offer strong {
    width: 155px;
    height: 24px;
    background: #f599ba;
    padding: 4px 13px;
    font-size: 12px;
    border-radius: 25px;
    font-weight: lighter;
    color: #fff;
    font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
}

.offer {
    margin-top: 10px;
}

html[dir="rtl"] .products li a aside h4 {
    font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;

}

.products li a aside h4 {
    margin: 2px 0px 1px;
    color: #f599ba;
    font-weight: lighter;
    font-size: 13px;
    font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
}

.products li a aside h4 em {
    font-style: italic;
    text-decoration: none;
}

.products li a aside p.color {
    font-style: italic;
}

@media (min-width: 1220px) {
    .products li,
    .feature li,
    .group-row li {
        margin: 20px 10px 20px;
    }
    .prdcontainers {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        overflow: inherit;
    }
}

.ftr {
    width: 100%;
}

.fab-strong {
    font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.overlay {
    display: none;
    text-align: center;
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #f599baeb;
    transition: .5s ease;
}

@media only screen and (min-width: 1280px) {
    .overlay .promo {
        position: relative;
        text-align: center;
        color: white;
        top: 20%;
    }
}

@media only screen and (min-width: 1280px) {
    .overlay .promo .basket {
        border: 1px solid;
        padding: 10px;
        border-radius: 25px;
        font-size: 30px;
    }
}

@media only screen and (min-width: 1280px) {
    .overlay .promo .desc {
        font-size: 23px;
        line-height: 38px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 1280px) {
    .overlay .promo .textone {
        font-size: 15px;
        font-weight: lighter;
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding: 12px 0px;
        margin: 0 30px 12px;
    }
}

.overlay .promo .textone span {
    font-weight: bold;
}

.overlay .promo .texttwo span {
    font-weight: bold;
}

@media only screen and (min-width: 1280px) {
    .overlay .promo .texttwo {
        font-size: 15px;
        font-weight: lighter;
        padding: 0 0 12px 0;
        margin: 0px 0 0 0;
    }
}

.overlay .promo .link {
    margin: 25px 0;
}

@media only screen and (min-width: 1280px) {    
	html[dir="rtl"] .overlay .promo strong {
		font-family: 'Noto AR', Helvetica, Arial, sans-serif !important;
	}
	.overlay .promo strong {
        width: 155px;
        height: 24px;
        background: #fafafa;
        padding: 4px 13px;
        font-size: 12px;
        border-radius: 25px;
        font-weight: 400;
        color: #000;
        font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
    }
}

.overlayactive {
    display: block;
}

.products li .overlay a {
    padding: 10px;
    text-decoration: none;
    color: #fafafa;
    display: block;
    transition: .3s;
}

.closebtnOverlay {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px !important;
}

.t-Form-fieldContainer--floatingLabel.apex-item-wrapper--checkbox .apex-item-group {
    padding: unset;
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(67, 87, 121, 0.6);
    cursor: pointer;
    z-index: 10;
    display: none;
  }

  #cd-shadow-layer.is-visible {
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
  }

  ul.mobile-filter {
    display: flex;
  }

  ul.mobile-filter li {
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }

  ul.mobile-filter li:last-child {
    border-left: 1px solid #e1e1e1;
  }

  ul.mobile-filter li:last-child .dropdown-content {
    text-align: left;

    display: none;
    position: absolute;
    border: 1px solid #c1c1c1;
    border-top: 0;
    z-index: 99999999;
    background-color: #fff;
    width: 100%;
    margin-top: 16px;
    border-top: 1px solid black;
  }


  ul.mobile-filter li:last-child:hover .dropdown-content {
    display: block !important;
  }


 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) 
  {
    .products li,
    .feature li {
      margin: 0px 10px 16px;
      vertical-align: top;
      position: relative;
      width: 23%;
    }
  }
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
{
        .products li,
        .feature li {
          margin: 0px 10px 16px;
          vertical-align: top;
          position: relative;
          width: 22.2%;
        }

}


  .dropbtn {
    background-color: #fff;
    color: #000;
    padding: 0;
    font-size: 12px;
    border: none;
    display: flex;
    align-items: center;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #c1c1c1;
    border-top: 0;
    z-index: 80;
    background-color: #fff;
    min-width: 260px;
    margin-top: 0;
    border-top: 1px solid black;
  }
  
  li#SORTPRICE .dropdown-content,
  div#mobile-sort-by-content-div{
      right: 0;
  }
html[dir="rtl"] li#SORTPRICE .dropdown-content,
html[dir="rtl"] div#mobile-sort-by-content-div{
    right: unset;
    left: 0;
}
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #fff;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #fff;
  }

  .dropdown:hover .dropbtn i {
    background: #f693b9;
    color: #fff;
  }

  .dropdown .dropbtn i {
    border: 1px solid;
    margin-left: 5px;
    font-size: 12px;
  }

  .filters ul {
    display: -webkit-inline-box;
  }

  html[lang="en"] .filters ul li {
    margin-right: 20px;
    font-size: 12px;
    letter-spacing: .04em;
  }


  html[lang="ar"] .filters ul li {
    margin-left: 20px;
  }

  .filters ul .filter {
    display: block;
  }

  .filters ul .filter li {
    display: block;
    padding: 0;
    border-bottom: 1px solid #f599ba;
    width: 100%;
  }

  .chip {
    display: inline-block;
    height: 32px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, .6);
    line-height: 32px;
    padding: 0;
    background-color: #ffffff;
    margin-right: 5px;
    width: 100%;
  }



  .chip .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
  }


  .filters ul .clear li {
    display: block;
    padding: 0;
    border-bottom: 1px solid #c1c1c1;
    /* width: 100%; */
  }

  .dropdown spna.subcategory {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: .04em;
    text-transform: inherit;
    font-weight: normal;
  }

  .d-price {
      color: red;
  }
